<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Head</h3>
      <app-slider [motorName]="turnHeadMotor.name" [labelName]="turnHeadMotor.label" ></app-slider>
      <app-slider [motorName]="tiltForwardMotor.name" [labelName]="tiltForwardMotor.label" ></app-slider>
      <app-slider [motorName]="tiltSideWaysMotor.name" [labelName]="tiltSideWaysMotor.label" [showMotorSettingsButton] = false [showCheckBox] = false ></app-slider>
      <button type="button" class="btn btn-primary my-4" (click)="reset()" id="resetButton">Reset</button>

    </div>
    <div class="col">
      <div class="container-div">
        <img class="container" style="width: 34rem;" src="../../assets/head.png" alt="">
        <ng-container *ngFor="let obj of currentConsumptionOfMotors">
          <div [class]="obj['motor']">
            <span class="current">{{obj['value']}} mA</span>
            <div [style.height]="obj['value']/40 + 'px'" class="color-indicator"
              [class.color-indicator50-80]="obj['value']/20 > 50 && obj['value']/20 < 80"
              [class.color-indicator80-100]="obj['value']/20 >= 80">
            </div>
          </div>
        </ng-container>
      </div>
      <button  (click)="sendDummyMessage()" class="btn btn-primary" id="dummyBtn">Dummy Values</button>
    </div>
  </div>
  <div>
  </div>
</div>