.currentConsumption {
  position: absolute;
  right: 4%;
  bottom: 35%;
}

.secondCurrentCnsumption {
  position: absolute;
  right: 10%;
  bottom: 5%;
}

.current {
  border-style: solid;
  padding: 5px;
  position: relative;
}

.color-indicator {
  display: inline-flex;
  margin: 0.5rem;
  width: 30px;
  background-color: rgba(41, 255, 0, 1);
  position: absolute;
  bottom: -13px;
  right: -40px;
}

.color-indicator80-100 {
  display: inline-block;
  width: 30px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 252, 29, 1) 50%,
    rgba(41, 255, 0, 1) 100%
  );
}

.color-indicator50-80 {
  display: inline-block;
  width: 30px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 252, 29, 1) 25%,
    rgba(41, 255, 0, 1) 50%
  );
}

.container-div {
  padding-left: 5rem;
  padding-top: 3rem;
  position: relative;
  display: inline-block;
}
