<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button id="home-position-btn" type="button" class="mt-3 float-end  btn" (click)="reset()">
        <img src="../../assets/icon-home-position.png" alt="" width="19px" height="24px">
        Home position
      </button>
      <br>
      <br>
      <br>
      <app-slider
        [motorName]="turnHeadMotor.name"
        [labelName]="turnHeadMotor.label">
      </app-slider>
      <app-slider 
        [motorName]="tiltForwardMotor.name"
        [labelName]="tiltForwardMotor.label">
      </app-slider>
      <app-slider
        [motorName]="tiltSideWaysMotor.name"
        [labelName]="tiltSideWaysMotor.label"
        [showMotorSettingsButton]="false"
        [showCheckBox]="false">
      </app-slider>
    </div>
    <div class="col">
      <div class="container-div">
        <img class="container" style="width: 34rem" src="../../assets/head.png" alt="" />
        <ng-container *ngFor="let obj of currentConsumptionOfMotors">
          <div [class]="obj['motor']">
            <span class="current">{{ obj["value"] }} mA</span>
            <div [style.height]="obj['value'] / 40 + 'px'" class="color-indicator" [class.color-indicator50-80]="
                obj['value'] / 20 > 50 && obj['value'] / 20 < 80
              " [class.color-indicator80-100]="obj['value'] / 20 >= 80"></div>
          </div>
        </ng-container>
      </div>
      <button id="dummyValuesButton" (click)="sendDummyMessage()" class="btn btn-primary" id="dummyBtn">
        Dummy Values
      </button>
    </div>
  </div>
  <div></div>
</div>