<app-nav-bar></app-nav-bar>
<div class="container-fluid mt-3">
    <div class="background-image">
        <div class="pink-corner-frame pt-3 pl-3 pr-3 ">
            <div class="row">
                <label>Select a touchpoint to adjust</label>
                <label>{{side}}</label>
            </div>
            <!-- <div class="row mb-3 mt-3">
                   Remove with all functionalities 
                    <div
                    class="col-3 mt-2 mb-2 pr-0 d-flex justify-content-end ">
                    <button
                        id="home-position-btn"
                        type="button"
                        class="btn"
                        (click)="reset()">
                        <img
                            src="../../assets/icon-home-position.png"
                            alt=""
                            width="19px"
                            height="24px" />
                        Home position
                    </button>
                </div> -->

            <div class="row">
                <div
                    class="col-6"
                    [ngClass]="{'order-3' : side == 'left'}">
                    <div class="row">
                        <div
                            class="col ml-2"
                            [ngClass]="{'order-3' : side == 'left'}">
                            <label>Active</label>
                        </div>
                        <div
                            class="col pl-0"
                            [ngClass]="{'order-2' : side == 'left'}">
                            <label>Settings</label>
                        </div>
                        <div
                            class="col"
                            [ngClass]="{'order-1' : side == 'left'}">
                            <label>Current</label>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <ng-container *ngFor="let motor of motors">
                                <div
                                    *ngIf="motor.name === 'all_fingers_left' || motor.name === 'all_fingers_right' ? false : true">
                                    <div class="row">
                                        <div
                                            class="col-8"
                                            [ngClass]="{'order-2' : side == 'left'}">
                                            <app-motor-control [motor]="motor">
                                            </app-motor-control>
                                        </div>
                                        <div
                                            class="col"
                                            [ngClass]="{'order-1' : side == 'left'}">
                                            <app-circular-slider
                                                name="{{motor.name}}"></app-circular-slider>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div
                    class="col-6"
                    [ngClass]="{'order-1' : side == 'left'}">
                    <img
                        class="img-fluid"
                        src="../../assets/hand_{{side}}.png"
                        alt="" />
                </div>
            </div>
        </div>
        <div class="row mt-2 mb-5">
            <div class="col-4">123</div>
            <div class="col-4">434</div>
            <div class="col-4 text-right">445</div>
        </div>
    </div>
</div>
