<div class="row my-3 gx-5">
  <div class="col">
    <h2>{{side | titlecase}} Hand</h2>
    <div class="ng-container" *ngIf="side === 'left'">
      <div class="ng-container" *ngFor="let f of leftFingers">
        <app-slider [rosTopic]="f.topic" [labelName]="f.label"></app-slider>
      </div>
    </div>
    <div class="ng-container" *ngIf="side === 'right'">
      <div class="ng-container" *ngFor="let f of rightFingers">
        <app-slider [rosTopic]="f.topic" [labelName]="f.label"></app-slider>
      </div>
    </div>
    <div class="p-8"></div>
  </div>
  <div class="col">
  </div>
</div>
<div>
  <button type="button" class="btn btn-primary my-4" (click)="reset()">Reset</button>
</div>
