.color-indicator {
  display: inline-flex;
  margin: 0.5rem;
  width: 30px;
  background-color: rgba(41, 255, 0, 1);
  position: absolute;
  bottom: -13px;
  right: -40px;
}

.color-indicator80-100 {
  display: inline-block;
  width: 30px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 252, 29, 1) 50%,
    rgba(41, 255, 0, 1) 100%
  );
}

.color-indicator50-80 {
  display: inline-block;
  width: 30px;
  background-image: linear-gradient(
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 252, 29, 1) 25%,
    rgba(41, 255, 0, 1) 50%
  );
}

.current {
  border-style: solid;
  padding: 5px;
  position: relative;
}

.container-div {
  padding-left: 5rem;
  padding-top: 3rem;
  position: relative;
  display: inline-block;
  margin-top: 2rem;
}

.pinky-right {
  position: absolute;
  top: 15%;
  left: 0%;
}

.ring-right {
  position: absolute;
  top: 5%;
  left: 15%;
}

.middle-right {
  position: absolute;
  top: 0%;
  right: 50%;
}

.index-right {
  position: absolute;
  top: 5%;
  right: 15%;
}

.thumb-right {
  position: absolute;
  top: 40%;
  right: 0%;
}

.thumb-left {
  position: absolute;
  top: 40%;
  left: 0%;
}

.index-left {
  position: absolute;
  top: 8%;
  left: 20%;
}

.middle-left {
  position: absolute;
  top: 1%;
  left: 40%;
}

.ring-left {
  position: absolute;
  top: 5%;
  right: 25%;
}

.pinky-left {
  position: absolute;
  top: 15%;
  right: 5%;
}



.form-switch .form-check-input:checked {
  background-color: transparent;
  background-image: url("../../assets/knob.png");
  border: 2px solid white;
}

.form-switch .form-check-input {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
  border: 2px solid white;
}

span {
  color: white;
}
