<app-nav-bar></app-nav-bar>



<div class="container-fluid">
  <div class="row">
    <div class="col">
      <button id="home-position-btn" type="button" class="my-4 float-end  btn" (click)="reset()">
        <img src="../../assets/icon-home-position.png" alt="" width="19px" height="24px">
        Home position
      </button>
      <ng-container *ngIf="side === 'left'">
        <div class="form-check form-switch my-4 ">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked2" [formControl]="leftSwitchControl" (input)="switchView('left')" >
          <label class="form-check-label" for="flexSwitchCheckChecked2"><span>Control fingers individuall</span></label>
        </div>
        <h2>{{ side | titlecase }} Hand</h2>
        <app-slider [motorName]="thumbOppositionLeft.motor" [labelName]="thumbOppositionLeft.label" [isGroup]="true"
          groupSide="left"></app-slider>
        <div *ngFor="let f of leftFingers" #leftContainer>
          <app-slider [motorName]="f.motor" [labelName]="f.label" [style.display]="displayIndividual"></app-slider>
        </div>
        <app-slider [motorName]="allFingersLeft.motor" [labelName]="allFingersLeft.label" [isGroup]="true"
          [style.display]="displayAll" groupSide="left"></app-slider>
      </ng-container>

      <ng-container *ngIf="side === 'right'">
        <div class="form-check form-switch my-4">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked2" [formControl]="rightSwitchControl" (input)="switchView('right')">
          <label class="form-check-label" for="flexSwitchCheckChecked2"><span>Control fingers individuall</span></label>
        </div>
        <h2>{{ side | titlecase }} Hand</h2>
        <app-slider [motorName]="thumbOppositionRight.motor" [labelName]="thumbOppositionRight.label" [isGroup]="true"
          groupSide="right"></app-slider>
        <ng-container *ngFor="let f of rightFingers" #rightContainer>
          <app-slider [motorName]="f.motor" [labelName]="f.label" [style.display]="displayIndividual"></app-slider>
        </ng-container>
        <app-slider [motorName]="allFingersRight.motor" [labelName]="allFingersRight.label" [isGroup]="true"
          groupSide="right" [style.display]="displayAll"></app-slider>
      </ng-container>
    </div>
    <div class="col">
      <!--right hand image-->
      <div class="container">
        <div class="container-div" *ngIf="side === 'right'">
          <img class="container" style="height: 30rem; width: 30rem; margin-top: 10px" src="../../assets/hand_right.png"
            alt="" />
          <ng-container *ngFor="let obj of currentRight">
            <div [class]="obj['motor']">
              <span class="current">{{ obj["value"] }} mA</span>
              <div [style.height]="obj['value'] / 40 + 'px'" class="color-indicator" [class.color-indicator50-80]="
                  obj['value'] / 20 > 50 && obj['value'] / 20 < 80
                " [class.color-indicator80-100]="obj['value'] / 20 >= 80"></div>
            </div>
          </ng-container>
        </div>
        <button *ngIf="side === 'right'" (click)="sendDummyMessage()" class="btn btn-primary" id="dummyBtnRight">
          Dummy Values
        </button>
      </div>
      <!--left hand image-->
      <div class="container">
        <div class="container-div" *ngIf="side === 'left'">
          <img class="container" style="height: 30rem; width: 30rem; margin-top: 10px" src="../../assets/hand_left.png"
            alt="" />
          <ng-container *ngFor="let obj of currentLeft">
            <div [class]="obj['motor']">
              <span class="current">{{ obj["value"] }} mA</span>
              <div [style.height]="obj['value'] / 40 + 'px'" class="color-indicator" [class.color-indicator50-80]="
                  obj['value'] / 20 > 50 && obj['value'] / 20 < 80
                " [class.color-indicator80-100]="obj['value'] / 20 >= 80"></div>
            </div>
          </ng-container>
        </div>
        <button *ngIf="side === 'left'" (click)="sendDummyMessage()" class="btn btn-primary" id="dummyBtnLeft">
          Dummy Values
        </button>
      </div>
    </div>
  </div>
</div>