a {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    height: 3.125rem;
    background-image: linear-gradient(to top, #1e304d, #000);
    border: none;
    color: #0094df;
    padding-top: 14px;
}

.nav {
    border-bottom: 1px solid #0094df !important;
}

.nav-tab {
    margin-top: 1.25rem;
}

.navbar-tab-active {
    top: 1px;
}

.nav-tab:hover a,
.navbar-ref-active {
    color: white;
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 4px solid #e10072;
    background-image: linear-gradient(to top, #000, #1e304d);
    border-left: 1px solid #0094df;
    border-right: 1px solid #0094df;
}
