<div>
    <div class="row nav">
        <div
            class="col-1 nav-tab p-0"
            routerLinkActive="navbar-tab-active">
            <a
                class="nav-link sidebar-btn"
                [routerLink]="['personality']"
                routerLinkActive="navbar-ref-active"
                >Personality</a
            >
        </div>
        <!-- <div class="col nav nav-tabs">    
            <button
                class="nav-item voice-tabs"
                id="chatTab"
                routerLinkActive="navbar-btn-active"
                [routerLink]="['chat']">
                <a class="nav-link sidebar-btn"> Chat </a>
            </button>
        </div>
        <div class="col nav-tabs justify-content-end pr-5">
            <div
                class="custom-switch custom-switch-pib mt-3"
                id="toggleVoiceAssistantActivation">
                <input
                    id="voiceAssistantActivationToggle"
                    class="custom-control-input"
                    type="checkbox"
                    [formControl]="voiceAssistantActivationToggle"
                    (input)="toggleVoiceAssistantActivation()" />
                <label
                    class="custom-control-label"
                    for="voiceAssistantActivationToggle">
                    Assistant {{voiceAssistantActiveStatus | boolToOnOffPipe
                    }}</label
                >
            </div>
        </div> -->
    </div>
</div>
