<div>
    <div class="row nav">
        <div
            class="col-1 nav-tab p-0"
            routerLinkActive="navbar-tab-active"
            *ngFor="let sidebarElement of sidebarElements ">
            <a
                class="nav-link nav-content"
                id="personality-{{sidebarElement.getUUID()}}"
                [routerLink]="[sidebarElement.getUUID()]"
                routerLinkActive="navbar-ref-active"
                >{{sidebarElement.getName()}}</a
            >
        </div>
        <div
            class="col-auto nav-tab p-0"
            routerLinkActive="navbar-tab-active"
            *ngIf="button?.enabled ?? false">
            <button
                id="add-personality-button"
                type="button"
                class="nav-link w-100 nav-content"
                (click)="button?.func()">
                +
            </button>
        </div>
    </div>
</div>
