@import "src/styles";

a {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-link {
    color: $blue-color;
    padding-top: 14px;
}

.nav-tabs {
    border-bottom: 1px solid $blue-color;
    margin-top: 20px;
}

.nav-tabs .nav-item {
    width: 160px;
    height: 50px;
    background-image: linear-gradient(to top, $blue-dark-2, $black-color);
}

.nav-tabs .nav-item a {
    border: none;
    color: $blue-color;
}

.nav-tabs .nav-item a:hover,
.nav-tabs .navbar-btn-active a {
    color: $white-color;
}

.nav-tabs .navbar-btn-active {
    height: 51px;
    margin-bottom: -1px;
}

.nav-tabs .nav-item:hover,
.nav-tabs .navbar-btn-active {
    background-image: linear-gradient(to top, $black-color, $blue-dark-2);
    border-left: 1px solid $blue-color;
    border-right: 1px solid $blue-color;
    box-sizing: border-box;
    position: relative;
}

.nav-tabs .nav-item:hover::before,
.nav-tabs .navbar-btn-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    width: calc(100% + 2px);
    height: 4px;
    background-color: $pink-color;
}

.nav-tabs .nav-item:hover .nav-link,
.nav-tabs .navbar-btn-active .nav-link {
    padding-top: 14px;
}

.blue-corner-frame {
    background:
        url("/assets/eb-br.png") bottom right no-repeat,
        url("/assets/eb-tr.png") top right no-repeat,
        url("/assets/eb-tl.png") top left no-repeat,
        url("/assets/eb-bl.png") bottom left no-repeat;
    background-color: $black-transparent-2;
}

.background-image {
    background: url("/assets/bg-gesamt.png") left no-repeat;
    background-size: cover;
}

.background-image {
    max-width: 1000px;
}

#add-personality-button {
    font-size: 1.5rem;
    padding: 0px;
    color: $white-color;
    background-image: linear-gradient(to top, $blue-dark-2, $black-color);
    border: none;
    cursor: pointer;
    width: 50px !important;
    height: 50px;
}

#add-personality-button:hover {
    color: $white-color;
}
