<ul class="nav nav-tabs">
    <li
        *ngFor="let sidebarElement of sidebarElements"
        class="nav-item"
        [ngClass]="{'navbar-btn-active': isRouteActive(sidebarElement.getUUID())}">
        <a
            class="nav-link"
            id="personality-{{sidebarElement.getUUID()}}"
            [routerLink]="[sidebarElement.getUUID(), 'chat']"
            [ngClass]="{'navbar-ref-active': isRouteActive(sidebarElement.getUUID())}">
            {{sidebarElement.getName()}}
        </a>
    </li>
    <li
        class="nav-item"
        *ngIf="button?.enabled ?? false">
        <button
            id="add-personality-button"
            type="button"
            class="nav-link"
            (click)="button?.func()">
            +
        </button>
    </li>
</ul>
