.first-div {
    position: relative;
    text-align: right;
}

.second-div {
    position: relative;
}

#blocklyDiv {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}
