<div class="row pt-5 pl-3 pr-3">
    <div class="main col-10 pink-corner-frame">
        <div class="row h-100">
            <div class="col">
                <div
                    class="h-100 w-100 p-10"
                    id="blocklyDiv"></div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <app-sidebar-right
            [headerElements]="headerElements"
            [subject]="subject"
            [lStorage]="'personality'"
            [elementIcon]="programIcon">
        </app-sidebar-right>
    </div>
</div>
