.bg-sidebar {
    background-color: #041939;
}

label {
    padding-left: 0;
    font-weight: normal !important;
}

.input {
    background-color: #344a69;
    border: none;
    height: 50px;
}

#radio-male,
#radio-female {
    display: none;
}

#label-radio-male::before,
#label-radio-female::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 25px;
    margin-top: 2.5px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #000;
}

/* #label-radio-male,
#label-radio-female {
    padding-left: 25px;
} */

#radio-male:checked + #label-radio-male::before,
#radio-female:checked + #label-radio-female::before {
    background-color: var(--cerebra-pink);
    border-color: #fff;
    padding: 5px;
}

#up,
#down {
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    font-size: 10px;
    line-height: 10px;
    padding: 0;
}

.delete {
    background-color: #e10072;
}

.delete:hover,
.delete:checked {
    background-color: #0094df;
}
