<div class="d-flex m-0 p-0 flex-row bd-highlight pb-0">
    <div class="d-flex m-0 p-0 flex-column justify-content-end">
        <img
            [src]="'../../../assets' + motor.sliderIconLeft"
            class="slider-icon"
            alt="left slider-icon" />
    </div>
    <div class="m-0 pt-0 pb-0 pl-3 pr-3 bd-highlight flex-grow-1">
        <div class="row motor-label m-0 p-0">{{motor.label}}</div>
        <div class="row m-0 p-0 slider-container">
            <app-horizontal-slider
                class="m-0 p-0"
                [name]="motor.label"
                [leftValue]="rotationRangeMin"
                [rightValue]="rotationRangeMax"
                [trackHeight]="20"
                [thumbRadius]="16"
                [numberOfThumbs]="1"
                [unitLong]="'μs'"
                [defaultValues]="[0]"
                [active]="turnedOn"
                [step]="1"
                [messageReceiver$]="positionReceiver$"
                (sliderEvent)="setPosition($event[0])"></app-horizontal-slider>
        </div>
    </div>
    <div class="d-flex flex-column justify-content-end">
        <img
            [src]="'../../../assets' + motor.sliderIconRight"
            class="slider-icon"
            alt="right slider-icon" />
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col right-icon-label m-0 p-0">{{motor.captionLeft}}</div>
    <div class="col left-icon-label m-0 p-0">{{motor.captionRight}}</div>
</div>
