.right-icon-label {
    color: white;
    text-align: left;
    font-size: 18px;
}

.left-icon-label {
    color: white;
    text-align: right;
    font-size: 18px;
}

.slider-icon {
    width: 80px;
    height: auto;
}

.slider-container {
    height: 80px;
}

.motor-title {
    font-weight: bolder;
}
