@import "src/styles";

.stdout {
    color: $white-color;
    caret-color: $white-color;
    font-family: Consolas, "Courier New", monospace;
}

.stderr {
    color: $pink-color;
    caret-color: $pink-color;
    font-weight: bold;
    font-family: Consolas, "Courier New", monospace;
}

.info {
    color: $blue-color;
    font-family: Consolas, "Courier New", monospace;
}

.wrapper {
    background-color: $blue-dark-4;
    overflow-y: scroll;
    height: 0px;
    overflow-wrap: break-word;

    > :first-child {
        margin-bottom: auto !important;
    }
}

textarea {
    display: flex;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    height: 100px;
    outline: none;
    resize: none;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    overflow: hidden;
}
