.stdout {
    color: #ffffff;
    font-family: Consolas, "Courier New", monospace;
}

.stderr {
    color: #e10072;
    font-family: Consolas, "Courier New", monospace;
}

.info {
    color: #0094df;
    font-family: Consolas, "Courier New", monospace;
}

.wrapper {
    background-color: #1b2b44;
    overflow-y: scroll;
}

.wrapper > :first-child {
    margin-bottom: auto !important;
}
