<div class="h-100 d-flex align-items-center justify-content-center">
    <div id="div-parent">
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" id="checkbox" (change)="sendVoiceActivationFlag()" [formControl]="activationFlag">
            <label for="">Activate voice assistant</label>
        </div>
    
        <form [formGroup]="voiceFormGroup"(ngSubmit)="updateVoiceSettings()">
            <label for="">Personality</label><br>
            <textarea rows="5" cols="50" formControlName="personality"></textarea>
            <br>
            
           


    <legend>Select gender:</legend>
    <fieldset>
    <div class="form-check-inline">
        <input type="radio" id="male" formControlName="gender" value="male" name="gender"  checked >
        <label  class="custom-control-label ms-1" for="male">Male</label>
      </div>
      <div class=" form-check-inline ">
        <input type="radio" id="female" name="gender" formControlName="gender" value="female">
        <label   class="custom-control-label ms-1"  for="female">Female</label>
      </div>
    </fieldset>
  
            <br>
            <input type="number" step="0.01" style="width: 60px; margin-right: 10px;" min="0.01" max="2" formControlName="threshold"> 
            <label for="">Pause threshold</label>
            <br>
            <span *ngIf="voiceFormGroup.get('threshold')?.hasError('min') || voiceFormGroup.get('threshold')?.hasError('max')" class="error">threshhold must be between 0.1 and 2</span>
            <span *ngIf="voiceFormGroup.get('threshold')?.hasError('required')" class="error">threshhold must not be empty</span>
            <br>
            <input class="btn btn-primary" type="submit" value="update" id="updateBtn">
        </form>
    </div>
</div>