#div-parent {
    position: relative;
    display: inline-block;
}

#submit {
    bottom:0;
    right:0;
    position:absolute;
}

.error {
    color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}