@import "src/styles";

label {
    font-weight: normal !important;
}

.invalid-form {
    border: 1px solid $red-color !important;
}

#pause-threshold-input {
    width: 60px;
    background-color: $blue-dark-1;
    border: none;
    height: 30px;
}

#new-radio-male,
#new-radio-female {
    display: none;
}

#new-label-radio-male::before,
#new-label-radio-female::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    margin-top: 2.5px;
    height: 15px;
    border: 2px solid $white-color;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px $black-color;
}

#new-label-radio-male,
#new-label-radio-female {
    padding-top: 1px;
    padding-left: 10px;
}

#new-radio-male:checked + #new-label-radio-male::before,
#new-radio-female:checked + #new-label-radio-female::before {
    background-color: var(--cerebra-pink);
    border-color: $white-color;
    padding: 5px;
}

#up,
#down {
    background-color: transparent;
    color: $white-color;
    border: none;
    font-size: 10px;
    line-height: 10px;
    padding: 0;
}

.pointer :hover {
    cursor: pointer;
}
