<div class="row mt-4">
    <div class="pink-corner-frame">
        <div class="row pt-1">
            <div class="col-10">
                <div class="row pt-1">
                    <div class="col-6 text-right">
                        <span class="align-middle"> Personality </span>
                    </div>
                    <div class="col-auto pr-0 pl-0">
                        <a
                            class="toggle-button"
                            id="toggle-voice-assistant"
                            [routerLink]="['chat']">
                            <img
                                [src]="'../../assets/toggle-switch-left.png'"
                                alt="Toggle for turning the Voice Assistant on and off" />
                        </a>
                    </div>
                    <div class="col text-left">
                        <span class="align-middle"> Chats </span>
                    </div>
                </div>
                <div class="row mt-2 content-window">
                    <div
                        class="col"
                        style="height: 100%">
                        <textarea
                            id="textarea-personality"
                            class="form-control p-3"
                            rows="16"
                            placeholder="Describe personality with a prompt..."
                            [(ngModel)]="textAreaContent"
                            (input)="updateDescription()">
                            {{personality?.description ?? "ERROR: Personality not found"}}
                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col">
                <app-va-personality-sidebar-right
                    [personalityUUID]="personality?.getUUID()">
                </app-va-personality-sidebar-right>
            </div>
        </div>
    </div>
</div>
