<div class="myCustomModalClass">
    <div
        class="modal-header"
        id="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        <p>{{ message }}</p>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-secondary"
            (click)="cancel()">
            {{ cancelMsg }}
        </button>
        <button
            type="button"
            class="btn btn-primary"
            (click)="confirm()">
            {{ confirmationMsg }}
        </button>
    </div>
</div>
