* {
    color: white;
}

.pose-item {
    border: none;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.selected.pose-item {
    background-color: #e10072;
}

.unselected.pose-item {
    background-color: #344864;
}

.apply-button {
    width: 80px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid;
    background-color: #041939;
    display: flex;
}

.apply-button:hover {
    cursor: pointer;
}

.apply-pose {
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.rename-icon,
.delete-icon,
.update-icon {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
}

.rename-icon {
    width: 21px;
    height: 21px;
}

.delete-icon,
.update-icon {
    width: 22px;
    height: 22px;
}

button:disabled img {
    opacity: 0.5;
}

.delete-button,
.rename-button,
.update-button {
    border: none;
    width: 40px;
    height: 40px;
}

.pose-label,
.rename-button,
.delete-button,
.update-button {
    background-color: transparent;
}

button:focus {
    z-index: 1;
}

.selected button:focus:not(:focus-visible) {
    outline: none;
}

.unselected button:focus:not(:focus-visible) {
    outline: none;
}

.selected button:focus {
    outline: 3px #ff67c6 solid;
}

.unselected button:focus {
    outline: 3px #627f96 solid;
}

.pose-label:active:focus {
    outline: none;
}

.pose-label {
    text-align: left;
    user-select: none;
    border: none;
    overflow: hidden;
    white-space: nowrap;
}

.selected .apply-button {
    border-color: #e10072;
}

.unselected .apply-button {
    border-color: #344864;
}
