@import "src/styles";

.wrapper {
    height: 100%;
}

.active-check {
    width: auto;
    background-color: $black-color;
    border: 0;
    cursor: pointer;
    display: grid;
    gap: 0.5 em;
}

.active-check:checked {
    accent-color: $black-transparent-1;
}

input[type="checkbox"] {
    background: transparent;
    appearance: none;
    color: $white-color;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $white-color;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    content: "";
    width: clamp(12px, 1vw, 34px);
    height: clamp(12px, 1vw, 34px);
    transform: scale(0);
    background-color: $pink-color;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.show-settings {
    border: 0;
}

.display-settings-button {
    border: 0;
    width: auto;
    height: 30%;
}

.min-size-settings {
    min-width: 15%;
}

.min-size-active {
    min-height: clamp(14px, 1.75vw, 36px);
    min-width: clamp(14px, 1.75vw, 36px);
}

.settings-icon:hover {
    background-color: $grey-transparent;
    border-radius: 3px;
    cursor: pointer;
}

span {
    font-size: clamp(16px, 1vw, 30px);
}

@media only screen and (max-width: 1050px) {
    text {
        y: 0.5vw;
    }
}

@media screen and (min-width: 1900px) {
    label {
        font-size: 18px;
    }
}
