<div class="row mt-2">
    <div class="col-4">
        <div class="row pt-1">
            <div class="col-auto text-right">
                <span class="align-middle"> Personality </span>
            </div>
            <div class="col-auto  pr-0 pl-0">
                <a
                    class="toggle-button"
                    id="toggle-voice-assistant"
                    [routerLink]="this.chat ? ['../../'] : ['../']">
                    <img
                        [src]="'../../assets/toggle-switch-right.png'"
                        alt="Toggle for turning the Voice Assistant on and off" />
                </a>
            </div>
            <div class="col-auto text-left">
                <span class="align-middle"> Chats </span>
            </div>
        </div>
    </div>
    <div class="col-8 d-flex justify-content-end">
        <button
            id="export-button"
            class="btn btn-regular"
            [ngClass]="{'disabled-button': !this.chat}"
            (click)="this.exportChat()"
            [disabled]="!this.chat">
            Export chat
        </button>
    </div>
</div>
<div class="row mt-2 content-window pb-2">
    <div class="col-12">
        <div class="chat-container p-3">
            <div class="messages mb-3">
                <div
                    *ngFor="let message of messages"
                    class="d-flex mt-3 mb-3"
                    [ngClass]="message.isUser ? 'flex-row-reverse' : 'flex-row'">
                    <div
                        class="col-9 p-0 d-flex"
                        [ngClass]="message.isUser ? ['user-message', 'flex-row-reverse'] : ['va-message', 'flex-row']">
                        <div
                            class="square message-author"
                            [ngClass]="message.isUser ? ['ml-2', 'mr-3'] : ['ml-3', 'mr-2']">
                            <img
                                class="author-icon"
                                [src]="message.isUser ? USER_ICON : VA_ICON" />
                        </div>
                        <div
                            class="pt-2 pb-2 pl-3 pr-3 flex-grow-1 message-content">
                            {{message.content}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input
                    type="text"
                    id="message-input"
                    placeholder="Send a message" />
                <button id="chat-send-button">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        (click)="{}">
                        <path [attr.d]="sendButton" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
