<div class="row pt-2 mt-2">
    <div class="col-6 text-right">
        <span class="align-middle"> Chats </span>
    </div>
    <div class="col-auto pr-0 pl-0">
        <a
            class="toggle-button"
            id="chat-window-toggle-voice-assistant"
            [routerLink]="this.chat ? ['../../'] : ['../']">
            <img
                [src]="'../../assets/toggle-switch-left.png'"
                alt="Toggle for turning the Voice Assistant on and off" />
        </a>
    </div>
    <div class="col text-left">
        <span class="align-middle">Personality</span>
    </div>
</div>
<div class="row mt-3 content-window pb-2">
    <div class="col-12 pr-2">
        <div class="chat-container mb-3 p-2 ">
            <div class="messages mb-3 d-flex flex-column-reverse">
                <div
                    *ngFor="let message of messages"
                    class="d-flex mt-3 mb-3"
                    [ngClass]="message.isUser ? 'flex-row-reverse' : 'flex-row'">
                    <div
                        class="col-9 p-0 d-flex"
                        [ngClass]="message.isUser ? ['user-message', 'flex-row-reverse'] : ['va-message', 'flex-row']">
                        <div
                            class="square message-author"
                            [ngClass]="message.isUser ? ['ml-2', 'mr-3'] : ['ml-3', 'mr-2']">
                            <img
                                class="author-icon"
                                [src]="message.isUser ? USER_ICON : VA_ICON" />
                        </div>
                        <markdown
                            class="pt-2 pb-2 pl-3 pr-3 flex-grow-1 message-content">
                            {{ message.content }}
                        </markdown>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input
                    type="text"
                    id="message-input"
                    (keyup.enter)="sendChatMessage()"
                    [formControl]="chatMessageFormControl"
                    [placeholder]="chatMessageFormControl.disabled ? 'Enable SmartConnect to start the Voice-Assistant' : 'Enter a message'" />
                <button
                    id="chat-send-button"
                    [disabled]="!textInputActive"
                    (click)="sendChatMessage()">
                    <img
                        class="author-icon p-0 m-0"
                        [src]="arrow" />
                </button>
            </div>
        </div>
    </div>
</div>
