.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
}

#chat-window-header {
    display: inline-block;
    font-size: 1rem;
    border-bottom: 4px solid var(--cerebra-pink);
    color: white;
}

#chat-window-header span {
    font-weight: bold;
}

.content-window {
    height: 83.33%;
}

.va-message .message-author {
    color: #ffffff;
    background-color: #344864;
    border-radius: 10px;
}

.user-message .message-author {
    color: #344864;
    background-color: #ffffff;
    border-radius: 10px;
}

.va-message .message-content {
    color: #ffffff;
    background-color: #344864;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

.user-message .message-content {
    color: #344864;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    color: #fff;
    height: 400px;
    scrollbar-width: 30px;
}

.message {
    display: inline-block;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #344864;
    font-size: medium;
    font-weight: normal;
}

.square {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-icon {
    width: 20px;
    height: 20px;
}

#message-input {
    flex: 1;
    width: 80%;
    padding: 3px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #344864;
}

#chat-send-button {
    border: none;
    outline: none;
    background-color: #344864;
    fill: white;
}

::-webkit-scrollbar {
    background-color: #1b2b44;
    scrollbar-width: thin;
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    padding: 10%;
}
