.current-label {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #fff;
}

@media only screen and (min-width: 600px) {
    .current-label {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1400px) {
    .current-label {
        font-size: 18px;
    }
}
@media only screen and (min-width: 1800px) {
    .current-label {
        font-size: 21px;
    }
}

.bg {
    background: conic-gradient(
        from 0deg,
        rgba(0, 148, 223, 1) 0%,
        rgba(139, 26, 118, 1) 40%,
        rgba(226, 0, 114, 1) 80%,
        rgba(225, 0, 114, 1) 100%
    );
    width: 100%;
    height: 100%;
}

.circle {
    stroke: white;
    stroke-linecap: butt;
    transform-origin: 50% 50%;
    transform: rotate(-89deg);
}
.circle2 {
    stroke: #646464;
    stroke-linecap: butt;
    opacity: 0.3;
}

.circular-slider {
    width: 80%;
}

.radius-circle {
    opacity: 0.5;
}

svg {
    height: 40px;
}
@media only screen and (min-width: 1000px) {
    svg {
        height: 30px;
    }
}
@media only screen and (min-width: 1200px) {
    svg {
        height: 40px;
    }
}
@media only screen and (min-width: 1400px) {
    svg {
        height: 50px;
    }
}
@media only screen and (min-width: 1600px) {
    svg {
        height: 60px;
    }
}
@media only screen and (min-width: 1800px) {
    svg {
        height: 75px;
    }
}
