<app-nav-bar></app-nav-bar>
<div class="container-fluid mt-3">
    <div class="background-image">
        <div class="pink-corner-frame pt-3 pl-3 pr-3 mb-2">
            <div>
                <div class="row">
                    <label>Select a touchpoint to adjust</label>
                    <label>{{side}}</label>
                </div>
                <div class="row">
                    <div class="col-1">
                        <button
                            id="home-position-btn"
                            type="button"
                            class="mt-3 btn"
                            (click)="reset()">
                            <img
                                src="../../assets/icon-home-position.png"
                                alt=""
                                width="19px"
                                height="24px" />
                            Home position
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div
                        class="col-6"
                        [ngClass]="{'order-3' : side == 'left'}">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div
                                        class="col ml-2"
                                        [ngClass]="{'order-3' : side == 'left'}">
                                        <label>Active</label>
                                    </div>
                                    <div
                                        class="col"
                                        [ngClass]="{'order-2' : side == 'left'}">
                                        <label>Settings</label>
                                    </div>
                                    <div
                                        class="col"
                                        [ngClass]="{'order-1' : side == 'left'}">
                                        <label>Current</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <ng-container *ngFor="let motor of motors">
                                    <div class="row">
                                        <div
                                            class="col-8"
                                            [ngClass]="{'order-2' : side == 'left'}">
                                            <app-motor-control [motor]="motor">
                                            </app-motor-control>
                                        </div>
                                        <div
                                            class="col"
                                            [ngClass]="{'order-1' : side == 'left'}">
                                            <app-circular-slider
                                                name="{{motor.name}}"></app-circular-slider>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-6"
                        [ngClass]="{'order-1' : side == 'left'}">
                        <img
                            class="pr-0 pl-0"
                            style="width: 675px;"
                            src="../../assets/arm_{{side}}.png"
                            alt="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <label> Ein Icon von einem Arm </label>
                    </div>
                    <div class="col">
                        <p class="text-center text-primary">
                            ..................................................................................
                        </p>
                    </div>
                    <div class="col-1">
                        <label> Ein Icon von einem Arm </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
