<p
    class="mb-5"
    *ngIf="name">
    {{ name + ' ' }}<span *ngIf="unitLong || unitShort"
        >({{ unitLong ? unitLong : unitShort}})</span
    >
</p>
<div class="range-wrap">
    <div
        class="range-value"
        #bubble>
        <input
            class="bubble-input overlay"
            id="input_{{id}}"
            [ngClass]="isInputVisible ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControlLower"
            (blur)="toggleInputInvisible(bubbleFormControlLower, sliderFormControlLower)"
            (keydown.enter)="toggleInputInvisible(bubbleFormControlLower, sliderFormControlLower)"
            #bubbleInput />
        <div
            class="bubble-span overlay"
            id="bubble_span_{{ id }}"
            [ngClass]="isInputVisible ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInput, sliderFormControlLower, bubbleFormControlLower)">
            {{ sliderFormControlLower.value }}{{ unitShort }}
        </div>
    </div>
    <div
        class="range-value"
        #bubbleUpper>
        <input
            class="bubble-input overlay"
            id="input_upper_{{id}}"
            [ngClass]="isInputVisible ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControlUpper"
            (blur)="toggleInputInvisible(bubbleFormControlUpper, sliderFormControlUpper)"
            (keydown.enter)="toggleInputInvisible(bubbleFormControlUpper, sliderFormControlUpper)"
            #bubbleInputUpper />
        <div
            class="bubble-span overlay"
            id="bubble_span_upper_{{ id }}"
            [ngClass]="isInputVisible ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInputUpper, sliderFormControlUpper, bubbleFormControlUpper)">
            {{ sliderFormControlUpper.value }}{{ unitShort }}
        </div>
    </div>
    <span
        *ngIf="bubblePosition >= minBubblePosition && bubblePositionUpper >= minBubblePosition"
        class="bubble-span-min"
        >{{ minValue }}{{ unitShort }}</span
    >
    <span
        *ngIf="bubblePosition <= maxBubblePosition && bubblePositionUpper <= maxBubblePosition"
        class="bubble-span-max"
        >{{ maxValue }}{{ unitShort }}</span
    >
    <div
        class="wrap"
        (mousedown)="onMouseDown($event)"
        (mouseleave)="onMouseLeave($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (mouseenter)="onMouseEnter($event)"
        #slider>
        <input
            class="range bottom-layer"
            type="range"
            id="slider_{{ id }}"
            [min]="minValue"
            [max]="maxValue"
            [step]="step"
            [formControl]="sliderFormControlLower"
            (input)="setThumbPosition(); sendEvent();"
            #range />
        <input
            class="range top-layer"
            type="range"
            id="slider_upper_{{ id }}"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="sliderFormControlUpper"
            (input)="setThumbPosition(); sendEvent();"
            [step]="step"
            #rangeUpper />
    </div>
</div>
