<div class="range-wrap">
    <div
        class="range-value"
        #bubble>
        <input
            class="bubble-input overlay"
            id="test123"
            [ngClass]="isInputVisible ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControl"
            (blur)="toggleInputUnvisible(bubbleFormControl, sliderFormControl)"
            (keydown.enter)="toggleInputUnvisible(bubbleFormControl, sliderFormControl)"
            #bubbleInput />
        <div
            class="bubble-span overlay"
            id="bubble_span_{{ sliderName }}"
            [ngClass]="isInputVisible ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInput, sliderFormControl, bubbleFormControl)">
            {{ sliderFormControl.value }}{{ unitOfMeasurement }}
        </div>
    </div>
    <div
        class="range-value"
        #bubbleUpper>
        <input
            class="bubble-input overlay"
            id="test321"
            [ngClass]="isInputVisible ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControlUpper"
            (blur)="toggleInputUnvisible(bubbleFormControlUpper, sliderFormControlUpper)"
            (keydown.enter)="toggleInputUnvisible(bubbleFormControlUpper, sliderFormControlUpper)"
            #bubbleInputUpper />
        <div
            class="bubble-span overlay"
            id="bubble_spanUpper_{{ sliderName }}"
            [ngClass]="isInputVisible ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInputUpper, sliderFormControlUpper, bubbleFormControlUpper)">
            {{ sliderFormControlUpper.value }}{{ unitOfMeasurement }}
        </div>
    </div>
    <span
        *ngIf="bubblePosition >= minBubblePosition && bubblePositionUpper >= minBubblePosition"
        class="bubble-span-min"
        >{{ minValue }}{{ unitOfMeasurement }}</span
    >
    <span
        *ngIf="bubblePosition <= maxBubblePosition && bubblePositionUpper <= maxBubblePosition"
        class="bubble-span-max"
        >{{ maxValue }}{{ unitOfMeasurement }}</span
    >

    <div class="wrap">
        <input
            class="range bottom-layer"
            type="range"
            id="slider_{{ sliderName }}"
            [min]="minValue"
            [max]="maxValue"
            [step]="step"
            [formControl]="sliderFormControl"
            (input)="setThumbPosition(); setBubblePos(range, sliderFormControl);"
            #range />
        <input
            class="range top-layer"
            type="range"
            id="slider2_{{ sliderName }}"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="sliderFormControlUpper"
            (input)="setThumbPosition(); setBubblePos(rangeUpper, sliderFormControlUpper);"
            [step]="step"
            #rangeUpper />
    </div>
</div>
