<div class="row h-100">
    <!-- <div
        class="d-flex flex-row-reverse hstack gap-3 position-absolute z-2 top-0 end-0 p-4 click">
        <button
            id="home-position-btn"
            type="button"
            class="btn buttonColor text-start">
            <img
                src="../../assets/icon-home-position.png"
                alt=""
                width="19px"
                height="24px" />
            Delete
        </button>
        <button
            id="home-position-btn"
            type="button"
            class="btn buttonColor text-start">
            <img
                src="../../assets/icon-home-position.png"
                alt=""
                width="19px"
                height="24px" />
            Save
        </button>
        <button
            id="home-position-btn"
            type="button"
            class="btn buttonColor text-start">
            <img
                src="../../assets/icon-home-position.png"
                alt=""
                width="19px"
                height="24px" />
            Run
        </button>
    </div> -->
    <div
        class="h-100 w-100 position-relative p-3 z-1"
        id="blocklyDiv"
        #blocklyDiv></div>
</div>
