<div class="d-flex h-100 flex-column align-items-center min-w min-h">
    <p *ngIf="showPrompt">
        {{name}}<span *ngIf="unitLong">{{ " " + unitLong }}</span>
    </p>
    <input
        *ngIf="showTextInput"
        [id]="name + 'Input'"
        class="form-control text-input"
        type="number"
        [min]="minValue"
        [max]="maxValue"
        [value]="rangeFormControl.value"
        [name]="name"
        [formControl]="rangeFormControl"
        (input)="sendEvent()" />
    <div
        class="range-slider mt-3 h-100 d-flex flex-column align-items-center"
        style="position:relative;width:120px;">
        <div style="position:absolute; top:54px; left: 0px; z-index: 1650;"
        class="h-75">
            <svg
                width="50px"
                height="100%"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                    class="range__tick"
                    x="35"
                    y="6%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="16%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="26%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="36%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="46%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="56%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="66%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="76%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="86%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="95%"
                    width="15"
                    height="2"></rect>
                <text
                    class="range__point"
                    x="17"
                    y="18%"
                    text-anchor="middle">
                    400k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="48%"
                    text-anchor="middle">
                    250k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="78%"
                    text-anchor="middle">
                    100k
                </text>
            </svg>
        </div>
        <div style="position:absolute; top:0px; left: 35px; z-index: 1650;">
            <svg
                width="50px"
                height="100%"
                xmlns="http://www.w3.org/2000/svg">
                <text
                    class="range__point"
                    x="25"
                    y="386px"
                    text-anchor="middle">
                    {{minValue}}
                </text>
                <text
                    class="range__point"
                    x="25"
                    y="14px"
                    text-anchor="middle">
                    {{maxValue}}
                </text>
            </svg>
        </div>
        <div
            class="rotateRange"
            style="position:absolute; top:225px; left:48px; z-index: 1660;">
            <input
                class="input-range"
                [id]="name + 'Slider'"
                type="range"
                min="0"
                max="500000"
                step="1"
                [value]="rangeFormControl.value"
                [formControl]="rangeFormControl"
                (input)="sendEvent();"
                #slider />
        </div>
        <div style="position:absolute; top:54px;left:70.8px; z-index: 1650;"
        class="h-75">
            <svg
                width="50px"
                height="100%"
                xmlns="http://www.w3.org/2000/svg"
                #sliderticks>
                <rect
                    class="range__tick"
                    x="0"
                    y="6%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="16%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="26%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="36%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="46%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="56%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="66%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="76%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="86%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="95%"
                    width="15"
                    height="2"></rect>
            </svg>
        </div>
    </div>
    <span
        *ngIf="rangeFormControl.errors"
        style="color: red; font-size: 13px; content:''">
        {{ name }} must be a number and can not be empty, minus or greater than
        {{ maxValue }}
    </span>
</div>
