<div class="row mt-4">
    <div class="row pink-corner-frame w-100">
        <div class="col-sm-9 col-xl-10">
            <router-outlet></router-outlet>
        </div>
        <div
            class="col-sm-3 col-xl-2 p-0"
            style="background-color: #041939">
            <div
                class="pt-4 text-center"
                style="background-color: #041939">
                <label class="p-1 text-break">Voice interaction</label>
                <div class="row">
                    <div class="col text-right">
                        <img
                            class="microphone-icon align-middle"
                            src="../../assets/voice-assistant-svgs/chat/voice_interaction_off.svg" />
                    </div>
                    <div class="col pr-0 pl-0">
                        <div
                            id="tooltip-smart-connect-disabled"
                            data-toggle="tooltip"
                            [title]="smartConnectActive ? '' : 'Enable SmartConnect to start the Voice-Assistant' ">
                            <button
                                class="btn border-0 p-0"
                                id="sidebar-right-toggle-voice-assistant"
                                type="button"
                                value="{{turnedOn}}"
                                (click)="toggleVoiceAssistant()"
                                [disabled]="!smartConnectActive">
                                <img
                                    [src]="turnedOn ? '../../assets/toggle-switch-right.png' : '../../assets/toggle-switch-left.png' "
                                    alt="Toggle for turning the Voice Assistant on and off" />
                            </button>
                        </div>
                    </div>
                    <div class="col text-left">
                        <img
                            class="microphone-icon align-middle"
                            src="../../assets/voice-assistant-svgs/chat/voice_interaction_on.svg" />
                    </div>
                    <a
                        *ngIf="turnedOn && (activeChatId != currentChatId)"
                        [routerLink]="['/', 'voice-assistant', activePersonalityId, 'chat', activeChatId]"
                        >Jump to active chat
                    </a>
                </div>
            </div>
            <div>
                <app-sidebar-right
                    [optionCallbackMethods]="optionCallbackMethods"
                    [dropdownCallbackMethods]="dropdownCallbackMethods"
                    [subject]="subject"
                    [lStorage]="'chat'"
                    [elementIcon]="personalityIcon"
                    [selectedObservable]="selected">
                </app-sidebar-right>
            </div>
        </div>
    </div>
</div>

<ng-template
    #modalContent
    let-modal
    id="template">
    <div
        class="row display-flex modal-header"
        id="modal-header">
        <div
            class="col-10"
            id="header-title">
            <span id="header-title-text">ADD CHAT</span>
        </div>
        <div
            class="col-2 text-right"
            id="close-button">
            <button
                id="modal-close-button"
                type="button"
                (click)="modal.dismiss('Cross click')"
                class="btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="16">
                    <text
                        font-family="Titillium"
                        fill="#FFF"
                        font-weight="bold"
                        font-size="16"
                        y="12">
                        X
                    </text>
                </svg>
            </button>
        </div>
    </div>
    <div
        class="row m-2 mt-4 pr-2"
        id="row-name">
        <label
            for="name-input"
            class="col-3 mt-2 justify-content-end"
            id="label-name"
            >Name</label
        >
        <input
            ngbAutofocus
            class="col-9"
            [formControl]="topicFormControl"
            type="text"
            (keydown)="($event).key ==='Enter' ? this.saveChat(): ''"
            name="name-input"
            id="name-input" />
    </div>
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-3 align-self-center">
            <button
                type="button"
                [disabled]="topicFormControl.invalid"
                class="btn btn-regular"
                id="modal-save-button"
                (keydown.enter)="saveChat()"
                (click)="saveChat()">
                Save
            </button>
        </div>
        <div class="col-3 align-self-center">
            <button
                type="button"
                class="btn btn-regular"
                id="modal-cancel-button"
                (click)="closeModal()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
