<div class="row mt-4">
    <div class="row pink-corner-frame w-100">
        <div class="col-sm-9 col-xl-10">
            <router-outlet></router-outlet>
        </div>
        <div
            class="col p-0"
            style="background-color: #041939">
            <div
                class="pt-4 text-center"
                style="background-color: #041939">
                <label class="p-1 text-break">Voice interaction</label>
                <div class="col">
                    <div class="row pt-1 mb-3">
                        <div
                            class="col-11 ml-sm-2 ml-xl-3 on-off"
                            [ngClass]="vaState ? 'on' : 'off'">
                            <div class="row">
                                <button
                                    type="button"
                                    class="col btn text-truncate element text-center p-3"
                                    id="sidebar-right-toggle-voice-assistant"
                                    (click)="toggleVoiceAssistant()"
                                    title="Toggle for turning Voice Assistant on and off"
                                    value="{{vaState}}">
                                    <label class="mb-0"
                                        >{{ vaState ? 'ON' : 'OFF' }}</label
                                    >
                                </button>
                                <ng-template>
                                    <a
                                        *ngIf="vaState"
                                        [routerLink]="['/', 'voice-assistant', activePersonality, 'chat', activeChat]"
                                        >Jump to active chat</a
                                    >
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-sidebar-right
                    [optionCallbackMethods]="optionCallbackMethods"
                    [dropdownCallbackMethods]="dropdownCallbackMethods"
                    [subject]="subject"
                    [lStorage]="'chat'"
                    [elementIcon]="personalityIcon"
                    [selectedObservable]="selected">
                </app-sidebar-right>
            </div>
        </div>
    </div>
</div>

<ng-template
    #modalContent
    let-modal
    id="template">
    <div
        class="row display-flex modal-header"
        id="modal-header">
        <div
            class="col-10"
            id="header-title">
            <span id="header-title-text">ADD CHAT</span>
        </div>
        <div
            class="col-2 text-right"
            id="close-button">
            <button
                id="modal-close-button"
                type="button"
                (click)="modal.dismiss('Cross click')"
                class="btn">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="10"
                    height="16">
                    <text
                        font-family="Titillium"
                        fill="#FFF"
                        font-weight="bold"
                        font-size="16"
                        y="11.062">
                        X
                    </text>
                </svg>
            </button>
        </div>
    </div>
    <div
        class="row m-2 mt-4 pr-2"
        id="row-name">
        <label
            for="name-input"
            class="col-3 mt-2 justify-content-end"
            id="label-name"
            >Name</label
        >
        <input
            ngbAutofocus
            class="col-9"
            [formControl]="topicFormControl"
            type="text"
            (keydown)="($event).key ==='Enter' ? this.saveChat(): ''"
            name="name-input"
            id="name-input" />
    </div>
    <div class="row justify-content-center mt-2 mb-3">
        <div class="col-3 align-self-center">
            <button
                type="button"
                class="btn btn-regular"
                id="modal-save-button"
                (keydown.enter)="this.saveChat()"
                (click)="this.saveChat()">
                Save
            </button>
        </div>
        <div class="col-3 align-self-center">
            <button
                type="button"
                class="btn btn-regular"
                id="modal-cancel-button"
                (click)="this.closeModal()">
                Cancel
            </button>
        </div>
    </div>
</ng-template>
