@media (max-width: 768px) {
    .allContent {
        display: block;
    }
    .side {
        min-width: 250px;
    }
}

@media (max-width: 833px) {
    .chat-container {
        margin: 5px;
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 427px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 1%;
    overflow: hidden;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1%;
    color: #fff;
}

.message {
    display: inline-block;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.personalityName {
    font-size: large;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #fff;
}

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #1b2b44;
    font-size: medium;
    font-weight: normal;
}

input:focus {
    font-size: medium;
    font-weight: normal;
    color: white;
}

#message-input {
    flex: 1;
    width: 80%;
    padding: 3px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #1b2b44;
}

#chat-send-button {
    border: none;
    outline: none;
    background-color: #1b2b44;
    fill: white;
}

#message-input::placeholder {
    color: #ccc;
}

.on {
    background-color: #e10072;
}
.off {
    background-color: #0094df;
}
