video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.qualityFactor{
  transform: rotate(180deg);
}

.cameraIcon {
  border: none !important;
}
.cameraIcon path {
  fill: #ffffff;
  stroke: #ffffff;
}

.cameraIcon:hover, .cameraIcon path:hover {
  color: #e6007e;
  background-color: transparent;
}

#cameraToggle path:hover {
  fill: #e6007e;
  stroke: #e6007e;
}