<div class="container-fluid">
  <div >
    <h2>{{ componentName }}</h2>
  </div>

  <div class="row">
    <div class="col">
      <img [src]="imageSrc" alt="camera" width="100%">
    </div>
    <div class="col">
      <label
        for="refreshRate"
        class="form-label my-3"
        style="font-family: Open Sans, Arial, Helvetica, sans-serif"
      >
        Refresh rate: {{ refreshRateControl.value }}s
      </label>
      <input
        id="refreshRateSlider"
        id="refreshRate"
        type="range"
        min="0.1"
        max="1"
        value="0.5"
        step="0.05"
        class="form-range"
        [formControl]="refreshRateControl"
        (input)="inputRefrechRate()"
      />

      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn" id="dropdownbutton" ngbDropdownToggle>
          Select size ({{ selectedSize }})
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownbutton">
          <button
            id="dropdownbutton-item-480px"
            ngbDropdownItem
            (click)="setActive('480p')"
          >
            480p (640 x 480)
          </button>
          <button
            id="dropdownbutton-item-720px"
            ngbDropdownItem
            (click)="setActive('720p')"
          >
            720p (1280 x 720)
          </button>
          <button
            id="dropdownbutton-item-1080px"
            ngbDropdownItem
            (click)="setActive('1080p')"
          >
            1080p (1920 x 1080)
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
