video {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.qualityFactor{
  transform: rotate(180deg);
}

.cameraIcon {
  border: none !important;
}
.cameraIcon path {
  fill: #ffffff;
  stroke: #ffffff;
}

.cameraIcon:hover, .cameraIcon path:hover {
  color: #e6007e;
  background-color: transparent;
}

#cameraToggle path:hover {
  fill: #e6007e;
  stroke: #e6007e;
}

#cameraToggle {
  padding-top: 8px;
}

#cameraColumn img {
  max-width: 100%;
  max-height: 100%;
}

.pink-corner-frame {
  background: url('../../assets/ep-br.png') bottom right no-repeat, 
              url('../../assets/ep-tr.png') top right no-repeat, 
              url('../../assets/ep-tl.png') top left no-repeat, 
              url('../../assets/ep-bl.png') bottom left no-repeat, 
              url("../../assets/bg-gesamt.png") center scroll;

}