<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h2>{{ componentName }}</h2>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col">
      <video #videoElement></video>
      <button id="startCamerabutton" (click)="startCamera()">
        Start Camera
      </button>
      <button id="stopCamerabutton" (click)="stopCamera()">Stop Camera</button>
    </div>
    <div class="col">
      <label
        for="refreshRate"
        class="form-label my-3"
        style="font-family: Open Sans, Arial, Helvetica, sans-serif"
      >
        Refresh rate: {{ refreshRateControl.value }}s
      </label>
      <input
        id="refreshRateSlider"
        id="refreshRate"
        type="range"
        min="0.1"
        max="1"
        value="0.5"
        step="0.05"
        class="form-range"
        (input)="sliderTrigger$.next('')"
        [formControl]="refreshRateControl"
      />

      <div class="dropdown my-4" id="dropdownbutton">
        <a
          class="btn btn-primary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Select size ({{ selectedSize }})
        </a>
        <ul class="dropdown-menu">
          <li>
            <a
              class="dropdown-item active"
              routerLink="./"
              aria-current="true"
              (click)="setActive($event)"
              >480p (640 x 480)</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="./" (click)="setActive($event)"
              >720p (1280 x 720)</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="./" (click)="setActive($event)"
              >1080p (1920 x 1080)</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
