<div class="row p-3 w-100 h-100">
    <div class="mb-3 pl-2 head-line">
        Please assign a Blockly program to each button.
    </div>
    <form
        [formGroup]="ledConfigForm"
        (ngSubmit)="updateConfig()">
        <div class="row font-size align-items-start">
            <div class="col-sm-6">
                <ng-container *ngFor="let button of buttons; index as i">
                    <div class="d-flex align-items-center mb-2">
                        <label class="me-3 p-0 col-auto flex-shrink-0">
                            {{ button.type }} {{ i + 1 }}:
                        </label>
                        <select
                            [attr.data-test]="'TXT_Button_Program_' + button.brickletNumber"
                            class="form-control"
                            [formControlName]="button.brickletNumber">
                            <option value=""></option>
                            <ng-container
                                *ngFor="let program of programs | async">
                                <option [value]="program.programNumber">
                                    {{ program.name }}
                                </option>
                            </ng-container>
                        </select>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mt-4 ml-4 mb-3 pl-2">
                <button
                    id="update-button-programs"
                    data-test="BTN_Update_Button_Programs"
                    class="hardware-button btn btn-regular"
                    [disabled]="ledConfigForm.pristine">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>
