<div class="col sidebar-right-wrapper h-100">
    <div class="row">
        <div class="mt-4">
            <div
                class="row"
                *ngFor="let sidebarElement of sidebarElements">
                <div
                    class="col-9 element-div ml-3 mt-2 text-nowrap"
                    routerLinkActive="element-div-active">
                    <a
                        [routerLink]="sidebarElement.getUUID()"
                        class="element pl-2 w-100 h-100 align-middle">
                        {{ sidebarElement.getName() }}
                    </a>
                </div>
                <!-- Dropdown mit den Buttons -->
                <div class="col-1">
                    <button
                        type="button"
                        class="btn btn-regular"
                        id="modal-save-button"
                        (click)="calbackMethods[1].clickCallback()">
                        Edit
                    </button>
                </div>
                <div class="col-1">
                    <button
                        type="button"
                        class="btn btn-regular"
                        id="modal-save-button"
                        (click)="calbackMethods[2].clickCallback()">
                        Edit
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button
                        type="button"
                        class="btn btn-regular"
                        id="modal-save-button"
                        (click)="calbackMethods[0].clickCallback()">
                        {{calbackMethods[0].label}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
