.element-div {
    border-radius: 5px;
    background-color: #344864;
    min-height: 30px;
}

label {
    cursor: pointer;
}

.element-div:hover,
.element-div-active {
    background-color: #951b81;
}
.element {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    padding-top: 5px;
}

.sidebar-right-wrapper {
    background-color: #041939;
}

::-webkit-scrollbar {
    background-color: #041939;
    scrollbar-width: thin;
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    padding: 10%;
}
.dot-menu {
    font-size: 1.4em;
}
.dot-menu:hover {
    color: black;
}

.btn {
    border: 0;
}

.btn:hover {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #03142e;
    border: 1px;
    border-radius: 5px;
    border-color: #314664;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-item {
    background-color: transparent;
}

.item {
    max-height: 24px;
}

.dropdown-item:hover label,
.dropdown-item:hover .item {
    filter: invert(80%) sepia(50%) saturate(2000%) hue-rotate(300deg)
        brightness(142%) contrast(110%)
        drop-shadow(0px 0px 10px rgba(149, 27, 129, 1));
}

.text-center-vertical {
    padding-top: 10px;
}
