<div class="col sidebar-right-wrapper h-100">
    <div class="row">
        <div class="mt-4">
            <div
                class="row"
                *ngIf="lStorage == 'chat'">
                <label class="text-center">Voice interaction</label>
                <div class="col">
                    <div class="row mt-1 mb-3">
                        <div
                            class="col-11 ml-3 onOff"
                            [ngClass]="vaState == true ? 'on' : 'off'">
                            <div class="row">
                                <button
                                    type="button"
                                    class="col btn text-truncate element text-center p-3"
                                    id="toggle-voice-assistant"
                                    (click)="toggleVoiceAssistant()"
                                    alt="Toggle for turning the Voice Assistant on and off"
                                    value="{{vaState}}">
                                    <div
                                        *ngIf="vaState == true; then thenBlock else elseBlock"></div>
                                    <ng-template #thenBlock
                                        ><label class="mb-0"
                                            >ON</label
                                        ></ng-template
                                    >
                                    <ng-template #elseBlock
                                        ><label class="mb-0"
                                            >OFF</label
                                        ></ng-template
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="row"
                *ngFor="let sidebarElement of sidebarElements">
                <div
                    class="col-11 element-div ml-3 mt-3 text-nowrap"
                    routerLinkActive="element-div-active">
                    <div class="row">
                        <a
                            [routerLink]="sidebarElement.getUUID()"
                            class="element text-truncate col-10 pl-3 p-2">
                            {{ sidebarElement.getName() }}
                        </a>
                        <div
                            ngbDropdown
                            class="d-inline-block col-2">
                            <button
                                type="button"
                                class="btn"
                                id="dropdownbutton-{{sidebarElement.getName()}}"
                                ngbDropdownToggle
                                (hidden)="removeCssClass(sidebarElement.getUUID())"
                                (shown)="addCssClass(sidebarElement.getUUID())">
                                <div class="dot mb-1 ml-1"></div>
                                <div class="dot mb-1 ml-1"></div>
                                <div class="dot mb-1 ml-1"></div>
                            </button>
                            <div
                                ngbDropdownMenu
                                attr.aria-labelledby="dropdownbutton-{{sidebarElement.getName()}}">
                                <button
                                    id="edit"
                                    ngbDropdownItem
                                    (click)="calbackMethods[1].clickCallback(sidebarElement.getUUID())">
                                    <img
                                        class="item"
                                        *ngIf="calbackMethods[1].icon !== ''"
                                        [src]="calbackMethods[1].icon" />
                                    <label>{{calbackMethods[1].label}}</label>
                                </button>
                                <div *ngIf="lStorage == 'chat'">
                                    <button
                                        id="export"
                                        ngbDropdownItem
                                        (click)="calbackMethods[3].clickCallback(sidebarElement.getUUID())">
                                        <img
                                            class="item"
                                            *ngIf="calbackMethods[3].icon !== ''"
                                            [src]="calbackMethods[3].icon" />
                                        <label
                                            >{{calbackMethods[3].label}}</label
                                        >
                                    </button>
                                </div>
                                <button
                                    id="delete"
                                    ngbDropdownItem
                                    (click)="calbackMethods[2].clickCallback(sidebarElement.getUUID())">
                                    <img
                                        class="item"
                                        *ngIf="calbackMethods[2].icon !== ''"
                                        [src]="calbackMethods[2].icon" />
                                    <label>{{calbackMethods[2].label}}</label>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-11 ml-3 element-div">
                    <div class="row">
                        <button
                            type="button"
                            class="col btn pl-3 p-3 text-truncate element text-center"
                            id="add-new-button"
                            (click)="calbackMethods[0].clickCallback('')">
                            <label class="mb-0"
                                >{{calbackMethods[0].label}}</label
                            >
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
