<div class="bg-navigation-Kopie">
    <div
        class="container-fluid"
        style="width: 100%;">
        <div class="row">
            <div
                class="col p-0"
                *ngFor="let element of headerElements"
                (mouseenter)="onButtonHover(element)"
                (mouseleave)="onButtonHover(element)">
                <button
                    class="header headerButtons"
                    (click)="element.clickCallback()">
                    <img
                        [src]="element.hovered ? element.active_icon : element.icon"
                        width="16px"
                        height="16px"
                        alt="" />
                    <p
                        [class.headerButtonActive]="element.hovered"
                        id="label_{{element.label}}">
                        {{element.label}}
                    </p>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid body">
        <div
            class="sidebar-element"
            *ngFor="let sidebarElement of sidebarElements">
            <a [routerLink]="sidebarElement.getUUID()"
                ><img [src]="elementIcon" /> {{ sidebarElement.getName() }}</a
            >
        </div>
    </div>
</div>
