.element-div {
    border-radius: 5px;
    background-color: #344864;
    min-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.element-div:hover,
.element-div-active {
    background-color: #951b81;
}
.element {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
}

.sidebar-right-wrapper {
    background-color: #041939;
}

::-webkit-scrollbar {
    background-color: #041939;
    scrollbar-width: thin;
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    padding: 10%;
}
