.bg-navigation-Kopie {
    width: 50%;
    height: 500px;
    margin: 23px 1px 0 0;
    padding: 0 0 458px;
    background-color: #1b2b44;
}

.elementIcon {
    text-align: center;
    fill: #0094de;
    margin-top: 5%;
}

p {
    color: #0094de;
    text-align: center;
    font-family: titillium;
    margin-bottom: 0%;
}

.header {
    background-color: #192021;
    width: 100%;
}

.bodyElements {
    color: #0094de;
    font-family: titillium;
    margin-bottom: 0%;
    margin-left: -10%;
    font-size: medium;
}

.elementButtons {
    background-color: #1b2b44;
    border: none;
    margin-left: 0.7%;
    width: auto;
}

.headerButtons {
    background-color: #192021;
    border: none;
    width: auto;
}
