<div
    class="row"
    style="width: fit-content;">
    <div class="bg-navigation-Kopie col">
        <div class="container d-flex">
            <div
                class="row header"
                *ngFor="let element of headerElements">
                <svg
                    id="icon_{{element.label}}"
                    xmlns="http://www.w3.org/2000/svg"
                    class="elementIcon"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px">
                    <path [attr.d]="element.icon" />
                </svg>
                <p id="label_{{element.label}}">{{element.label}}</p>
            </div>
        </div>
        <div class="container col">
            <div
                class="row"
                *ngFor="let element of bodyElements">
                <div class="container d-flex bodyElements">
                    <div class="row p-1 elementIcon">
                        <svg
                            id="personalityIcon_{{element}}"
                            xmlns="http://www.w3.org/2000/svg"
                            height="24px"
                            viewBox="0 -960 960 960"
                            width="24px">
                            <path [attr.d]="elementIcon" />
                        </svg>
                    </div>
                    <div
                        [id]="getIdString(element)"
                        class="row p-2 mt-2">
                        {{element}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
