.bg-navigation-Kopie {
    height: 500px;
    margin-right: 4px;
    padding: 0;
    background-color: #1b2b44;
    max-width: 100%;
}

p {
    color: #0094de;
    text-align: justify-center;
    font-family: titillium;
    margin-bottom: 0%;
}

.header {
    background-color: #192021;
    width: 100%;
}

.bodyElements {
    color: #0094de;
    font-family: titillium;
    margin-bottom: 0%;
    font-size: medium;
    align-items: justify;
}

.elementButtons {
    background-color: #1b2b44;
    border: none;
    border-radius: 5%;
    margin-left: 0.7%;
    width: 90%;
    max-width: 99%;
    border-bottom: #1b2b44 solid 4px;
}

.headerButtons {
    background-color: #192021;
    border: none;
    width: 100%;
    align-items: auto;
}

.bodyElementText {
    text-align: left;
    white-space: normal;
    text-wrap: wrap;
    font-size: 16px;
}

.btn-active {
    color: white;
    border-bottom: #e10072 solid 4px;
    flex-wrap: wrap;
}
