.bg-navigation-Kopie {
    width: 100%;
    height: 95%;
    margin: 23px 1px 41px 0;
    padding: 0 0 458px;
    background-color: #1b2b44;
    float: right;
}

.personalityIcon {
    fill: #0094de;
}
