<header>
    <app-voice-assistant-nav></app-voice-assistant-nav>
</header>
<div class="container-fluid ">
    <div class="mainFrame mainContent mt-4 m-1 pink-corner-frame">
        <div class="container-fluid">
            <div class="innerContentMain">
                <label
                    class="personalityLabel ml-2"
                    style="font-size: large;">
                    Personality Name
                </label>
            </div>
            <div class="innerContentSide d-flex">
                <button
                    class="btn btn-sm btn-primary saveButtons mr-2"
                    id="saveButtonPersonality">
                    Save
                </button>
                <button
                    class="btn btn-sm btn-primary saveButtons mr-4"
                    id="saveAsButtonPersonality">
                    Save As...
                </button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="mainFrame textAreaDiv">
                <textarea
                    id="textAreaPersonality"
                    class="form-control"
                    rows="15"
                    placeholder="Describe personality with a prompt..."></textarea>
            </div>
        </div>
    </div>
    <app-voice-assistant-sidebar-right
        class="sideContent"
        [headerElements]="headerElements"
        [bodyElements]="personalities"
        [elementIcon]="personalityIcon">
    </app-voice-assistant-sidebar-right>
</div>
