.textAreaDiv {
    width: 98%;
    padding: 1%;
}

.mainContentFrame {
    height: 75%;
}

textarea {
    border-radius: 0px;
    background: transparent;
    font-family: Titillium;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
    padding: 2%;
}

textarea:focus {
    border-radius: 0px;
    background: linear-gradient(
        to right,
        #e10072,
        #e10072 var(--pos-relative),
        #324c71 var(--pos-relative),
        #324c71
    );
    font-family: Titillium;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

.personalityDescriptionFrame {
    font-family: Titillium;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

.saveButtons {
    font-family: Titillium;
    font-size: medium;
    width: 100%;
    border: none;
}

.personalityLabel {
    font-family: Titillium;
    font-size: large;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #fff;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to a new line when there's not enough horizontal space */
}

.mainFrame {
    flex: 5; /* Takes up 5/6th of the available width */
    min-width: 0; /* Allow the left div to shrink if needed */
    padding: 10px;
    margin-right: 10px; /* Add some spacing between divs */
    margin-bottom: 10px; /* Add some spacing between rows */
}

.mainContent {
    height: 500px;
    width: 100%;
}

.sideContent {
    flex: 1;
    min-width: 0;
    padding: 10px;
    box-sizing: border-box;
    margin-top: -0.7%;
}

.innerContentMain {
    flex: 4;
}

.innerContentSide {
    flex: 2;
}

@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }

    .sideContent {
        display: 1;
    }

    .mainFrame {
        flex: 1;
    }
}
