textarea {
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

textarea:focus {
    border-radius: 0px;
    background: linear-gradient(
        to right,
        #e10072,
        #e10072 var(--pos-relative),
        #324c71 var(--pos-relative),
        #324c71
    );
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

.saveButtons {
    float: right;
    font-size: medium;
    width: auto;
    border: none;
    background-color: #0094df;
    white-space: nowrap;
}

.saveButtons:hover {
    float: right;
    font-size: medium;
    width: auto;
    border: none;
    background-color: #e10072;
    white-space: nowrap;
}

.personalityName {
    font-size: large;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #fff;
}

@media (max-width: 768px) {
    .allContent {
        display: block;
    }
    .side {
        min-width: 200px;
    }
    .pink-corner-frame {
        width: 100%;
    }
    .saveButtons {
        margin-top: 5px;
        margin-left: 2px;
        padding-top: 5%;
    }

    textarea {
        margin: 5px;
    }
}
