<header>
    <app-voice-assistant-nav></app-voice-assistant-nav>
</header>
<div class="container-fluid">
    <div class="row">
        <div
            class="col-md-10 pink-corner-frame mt-5 personalityDescriptionFrame">
            <div class="container-fluid d-flex p-2">
                <div class="row col-md-8 p-2 mt-2">
                    <label class="personalityLabel"> Personality Name </label>
                </div>
                <div class="row col-md-2 p-2 mr-2 personalityLabel">
                    <button
                        class="btn btn-md btn-primary saveButtons"
                        id="saveButtonPersonality">
                        Save
                    </button>
                </div>
                <div class="row col-md-2 p-2 personalityLabel">
                    <button
                        class="btn btn-sm btn-primary saveButtons"
                        id="saveAsButtonPersonality">
                        Save As...
                    </button>
                </div>
            </div>
            <div class="row textAreaDiv">
                <textarea
                    id="textAreaPersonality"
                    class="form-control"
                    rows="22"
                    placeholder="Describe personality with a prompt..."></textarea>
            </div>
        </div>
        <div class="row col-md-2">
            <app-voice-assistant-sidebar-right
                [headerElements]="headerElements"
                [bodyElements]="personalities"
                [elementIcon]="personalityIcon"></app-voice-assistant-sidebar-right>
        </div>
    </div>
</div>
