<h2>{{componentName}} hand</h2>
<form [formGroup]="sliders">
  <label for="little" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Little finger
    <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value: {{sliders.controls['little'].value}}
    </p>
  </label>
  <input id="little" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
    (input)="this.sliderTrigger$.next('little')" formControlName="little">

  <label for="ring" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Ring finger
    <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value: {{sliders.controls['ring'].value}}
    </p>
  </label>
  <input id="ring" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
    (input)="this.sliderTrigger$.next('ring')" formControlName="ring">

  <label for="middle" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Middle finger
    <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value: {{sliders.controls['middle'].value}}
    </p>
  </label>
  <input id="middle" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
    (input)="this.sliderTrigger$.next('middle')" formControlName="middle">

  <label for="index" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Index finger
    <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value: {{sliders.controls['index'].value}}
    </p>
  </label>
  <input id="index" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
    (input)="this.sliderTrigger$.next('index')" formControlName="index">

  <div formGroupName="thumbGroup">
    <label for="thumb" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Thumb
      <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value:
        {{sliders.controls['thumbGroup'].controls['thumb'].value}}</p>
    </label>
    <input id="thumb" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
      (input)="this.sliderTrigger$.next('thumb')" formControlName="thumb">

    <label for="thenar" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Thenar (thumb)
      <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value:
        {{sliders.controls['thumbGroup'].controls['thenar'].value}}</p>
    </label>
    <input id="thenar" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" value="{{INIT_VALUE}}" class="form-range"
      (input)="this.sliderTrigger$.next('thenar')" formControlName="thenar">
  </div>

  <button type="button" class="btn btn-primary my-4" (click)="reset()">Reset</button>
</form>

<p>{{message}}</p>