<div class="d-flex flex-column align-items-center">
    <p *ngIf="showPrompt">
        {{name}}<span *ngIf="unitLong">{{ " " + unitLong }}</span>
    </p>
    <input
        *ngIf="showTextInput"
        [id]="name + 'Input'"
        class="form-control text-input"
        type="number"
        [min]="minValue"
        [max]="maxValue"
        [value]="rangeFormControl.value"
        [name]="name"
        [formControl]="rangeFormControl"
        (input)="parentFunction();" />
    <div
        class="range-slider mt-2 d-flex flex-column align-items-center"
        style="position:relative;width:120px; height:400px">
        <div style="position:absolute; top:30px; left: 0px; z-index: 1650;">
            <svg
                width="50px"
                height="330px"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                    class="range__tick"
                    x="35"
                    y="0%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="10%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="20%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="30%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="40%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="50%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="60%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="70%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="80%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="90%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="99%"
                    width="15"
                    height="2"></rect>
                <text
                    class="range__point"
                    x="17"
                    y="21.75%"
                    text-anchor="middle">
                    400k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="51.75%"
                    text-anchor="middle">
                    250k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="81.75%"
                    text-anchor="middle">
                    100k
                </text>
            </svg>
        </div>
        <div style="position:absolute; top:0px; left: 35px; z-index: 1650;">
            <svg
                width="50px"
                height="400px"
                xmlns="http://www.w3.org/2000/svg">
                <text
                    class="range__point"
                    x="25"
                    y="386px"
                    text-anchor="middle">
                    {{minValue}}
                </text>
                <text
                    class="range__point"
                    x="25"
                    y="14px"
                    text-anchor="middle">
                    {{maxValue}}
                </text>
            </svg>
        </div>
        <div
            class="rotateRange"
            style="position:absolute; left:43px; top:216px; z-index: 1660;">
            <input
                class="input-range"
                [id]="name + 'Slider'"
                type="range"
                min="0"
                max="500000"
                step="1"
                [value]="rangeFormControl.value"
                [formControl]="rangeFormControl"
                (input)="parentFunction();"
                #slider />
        </div>
        <div style="position:absolute; top:30px;left:70.8px; z-index: 1650;">
            <svg
                width="50px"
                height="330px"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                    class="range__tick"
                    x="0"
                    y="0%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="10%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="20%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="30%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="40%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="50%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="60%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="70%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="80%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="90%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="99%"
                    width="15"
                    height="2"></rect>
            </svg>
        </div>
    </div>
    <span
        *ngIf="rangeFormControl.errors"
        style="color: red; font-size: 13px; content:''">
        {{ name }} must be a number and can not be empty, minus or greater than
        {{ maxValue }}
    </span>
</div>
