<div class="d-flex flex-column align-items-center">
    <p
        *ngIf="showPrompt"
        class="">
        {{name}}
    </p>
    <input
        *ngIf="showTextInput"
        [id]="name + 'Input'"
        type="number"
        [min]="minValue"
        [max]="maxValue"
        [value]="rangeFormControl.value"
        [name]="name"
        [formControl]="rangeFormControl"
        (input)="parentFunction(); colorSliderTrack()" />

    <div
        class="range-slider mt-5 d-flex flex-column align-items-center"
        style="position:relative;width:120px; height:400px">
        <div style="position:absolute; top:30px; left: 0px">
            <svg
                width="50px"
                height="330px"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                    class="range__tick"
                    x="35"
                    y="0%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="10%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="20%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="30%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="40%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="50%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="60%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="70%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="80%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="90%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="35"
                    y="99%"
                    width="15"
                    height="2"></rect>
                <text
                    class="range__point"
                    x="17"
                    y="21.75%"
                    text-anchor="middle">
                    400k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="51.75%"
                    text-anchor="middle">
                    250k
                </text>
                <text
                    class="range__point"
                    x="17"
                    y="81.75%"
                    text-anchor="middle">
                    100k
                </text>
            </svg>
        </div>
        <div
            class="rotateRange"
            style="position:absolute; left:43px; top:216px">
            <input
                class="input-range"
                [id]="name + 'Slider'"
                type="range"
                min="0"
                max="500000"
                step="1"
                [value]="rangeFormControl.value"
                [formControl]="rangeFormControl"
                (input)="parentFunction(); colorSliderTrack()" />
        </div>
        <div style="position:absolute; top:30px;left:70.8px">
            <svg
                width="50px"
                height="330px"
                xmlns="http://www.w3.org/2000/svg">
                <rect
                    class="range__tick"
                    x="0"
                    y="0%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="10%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="20%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="30%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="40%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="50%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="60%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="70%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="80%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="90%"
                    width="15"
                    height="2"></rect>
                <rect
                    class="range__tick"
                    x="0"
                    y="99%"
                    width="15"
                    height="2"></rect>
            </svg>
        </div>
    </div>
    <p
        *ngIf="rangeFormControl.errors"
        style="color: red; font-size: 8px">
        {{ name }} must be a number and can not be empty, minus or greater than
        {{ maxValue }}
    </p>
</div>
