<div class="reset-control">
    <button
        type="button"
        class="btn btn-regular reset-button"
        data-test="BTN_Position_Reset"
        [disabled]="isResetting"
        (click)="resetPosition()">
        <i
            class="bi bi-arrow-counterclockwise"
            aria-hidden="true"></i>
        <span>Reset</span>
    </button>
</div>

<ng-template #resetProgressModal>
    <div
        class="reset-progress-content"
        data-test="MODAL_Position_Reset"
        aria-live="assertive"
        aria-busy="true">
        <div
            class="spinner-border reset-spinner"
            role="status">
            <span class="visually-hidden">Reset in progress</span>
        </div>
        <p>Please wait, pib resets the position</p>
    </div>
</ng-template>
