.border-pink {
    border: 1px solid #e83e8c !important;
}

.text-pink {
    color: #e83e8c !important;
}

.btn-pink {
    background-color: #e83e8c !important;
    border-color: #e83e8c !important;
}

.cursor-pointer {
    cursor: pointer;
}

.list-group-item.active {
    background-color: rgba(232, 62, 140, 0.25) !important;
    border-color: #e83e8c !important;
}
