<div class="row m-0 h-100 p-0">
    <div class="col-9 p-2">
        <div class="card background-card h-100 p-0 border-pink">
            <div class="card-header border-pink d-flex justify-content-between align-items-center py-2 px-3">
                <span class="text-white font-weight-bold">
                    MARIMO EDITOR: {{ selectedNotebook ? selectedNotebook.title : 'pib SDK Demo' }}
                </span>
                <span class="badge badge-success px-2 py-1">REACTIVE PYTHON</span>
            </div>
            <div class="card-body p-0 h-100 bg-dark-editor">
                <iframe
                    *ngIf="marimoUrl"
                    [src]="marimoUrl"
                    class="w-100 h-100 border-0 bg-dark-editor"
                    style="min-height: 680px;"
                    title="Marimo Reactive Notebook Editor">
                </iframe>
            </div>
        </div>
    </div>

    <div class="col-3 p-2">
        <div class="card background-card h-100 border-pink">
            <div class="card-header border-pink py-2 px-3">
                <span class="text-white font-weight-bold">MARIMO WORKBOOKS</span>
            </div>
            <div class="card-body p-3">
                <div class="input-group mb-3">
                    <input
                        type="text"
                        class="form-control bg-dark text-white border-pink"
                        placeholder="New Workbook..."
                        [(ngModel)]="newNotebookName"
                        (keyup.enter)="createNewNotebook()">
                    <div class="input-group-append">
                        <button
                            class="btn btn-pink text-white"
                            type="button"
                            (click)="createNewNotebook()">
                            + Add
                        </button>
                    </div>
                </div>

                <div class="list-group">
                    <div
                        *ngFor="let nb of notebooks"
                        class="list-group-item list-group-item-action bg-dark text-white border-pink mb-2 d-flex justify-content-between align-items-center cursor-pointer"
                        [class.active]="selectedNotebook?.name === nb.name"
                        (click)="selectNotebook(nb)">
                        <div>
                            <i class="fa fa-file-code-o mr-2 text-pink"></i>
                            <span>{{ nb.title }}</span>
                        </div>
                        <button
                            class="btn btn-sm btn-outline-danger border-0 p-1"
                            title="Delete Workbook"
                            (click)="deleteNotebook(nb, $event)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
