.a {
    fill: none;
    stroke: #0094de;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.brand-link {
    border: 0;
}

.btn-active {
    margin: 10px 10px 10px 8px;
    color: white;
    border-bottom: #e10072 solid 4px;
    padding-bottom: 4px;
}

.btn-active svg path,
.btn-active .a {
    fill: #e10072;
    stroke: #e10072;
}

.content-wrapper {
    background: black;
    background-size: 100% auto;
}

.main-sidebar {
    background-color: #041939;
}

.menu-is-opening svg path {
    fill: #e10072;
    stroke: #e10072;
}

.menu-open {
    color: #0094de;
}

.nav-link.sidebar-btn {
    margin: 10px 10px 10px 8px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: left;
    color: #0094de;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.nav-link.sidebar-btn.btn-active {
    color: white;
}

.nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-light-"] .nav-sidebar > .nav-link {
    color: #ffffff;
    border-bottom: #e10072 solid 4px;
}

.nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-light-"] .nav-sidebar > .nav-link > svg > path {
    fill: #e10072;
    stroke: #e10072;
}

.nav-pills .nav-link.sidebar-btn:hover {
    margin: 10px 10px 10px 8px;
    color: white;
    border-bottom: #e10072 solid 4px;
    padding-bottom: 4px;
}

svg path {
    fill: #0094de;
    stroke: #0094de;
}

#camera-style {
}
