.main-sidebar {
  background-color: #041939;
}

.brand-link {
  border: 0;
}

.nav-link.sidebar-btn {
  margin: 10px 10px 10px 8px;
  font-family: Titillium;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-align: left;
  color: #0094de;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.nav-pills .nav-link.sidebar-btn:hover {
  margin: 10px 10px 10px 8px;
  color: white;
  border-bottom: #e10072 solid 5px;
  padding-bottom: 3px;
}

.a {
  fill: none;
  stroke: #0094de;
  stroke-linecap: round;
  stroke-linejoin: round;
}


svg path {
  fill: #0094de;
  stroke: #0094de;

}

.btn-active {
  margin: 10px 10px 10px 8px;
  color: white;
  border-bottom: #e10072 solid 5px;
  padding-bottom: 3px;
}

.btn-active svg path,
.btn-active .a {
  fill: #e10072;
  stroke: #e10072;
}

.nav-link.sidebar-btn.btn-active {
  color: white;
}

.menu-open {
  color: #0094de;
}

.nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-light-] .nav-sidebar>.nav-link {
  color: #ffffff;
  border-bottom: #e10072 solid 5px;
}

.nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-light-] .nav-sidebar>.nav-link>svg>path {
  fill: #e10072;
  stroke: #e10072;
}

.menu-is-opening svg path {
  fill: #e10072;
  stroke: #e10072;
}

.content-wrapper {
  background-image: url("../assets/bg-gesamt.png");
  background-size: 100% auto;
}

.btn {
  padding: 0;
  color: white;
  border: none;
}