<div>
    <div class="mb-3 pl-2 form-headline">Please input your bricklet uids.</div>
    <form
        [formGroup]="brickletUidForm"
        (ngSubmit)="updateIds()">
        <div class="d-flex gap-4 align-items-start">
            <div class="bricklet-grid form-content">
                <ng-container *ngFor="let bricklet of servoBricklets">
                    <label
                        >{{ bricklet.type }} {{ bricklet.brickletNumber
                        }}:</label
                    >
                    <input
                        type="text"
                        [attr.data-test]="'TXT_Bricklet_UID_' + bricklet.brickletNumber"
                        class="form-control"
                        [formControlName]="bricklet.brickletNumber" />
                </ng-container>
            </div>

            <div class="bricklet-grid form-content">
                <ng-container *ngFor="let bricklet of relayBricklets">
                    <label>{{ bricklet.type }}:</label>
                    <input
                        type="text"
                        [attr.data-test]="'TXT_Bricklet_UID_' + bricklet.brickletNumber"
                        class="form-control"
                        [formControlName]="bricklet.brickletNumber" />
                </ng-container>

                <ng-container *ngFor="let bricklet of rgbBricklets; index as i">
                    <label>{{ bricklet.type }} {{ i + 1 }}:</label>
                    <input
                        type="text"
                        [attr.data-test]="'TXT_Bricklet_UID_' + bricklet.brickletNumber"
                        class="form-control"
                        [formControlName]="bricklet.brickletNumber" />
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mt-4 mb-3 pl-2">
                <button
                    id="update-bricklet-uids-button"
                    data-test="BTN_Update_bricklet_UIDs"
                    class="hardware-button btn btn-regular"
                    [disabled]="brickletUidForm.invalid">
                    Update
                </button>
            </div>
            <div
                class="col-auto mt-4 ml-4 mb-3 pl-2 align-self-center"
                *ngIf="brickletUidForm.invalid">
                <span class="validation-error"
                    >IDs must be unique, up to 6 characters long, and contain
                    only letters and numbers.</span
                >
            </div>
        </div>
    </form>
</div>
