@import "src/styles";
* {
    color: white;
}

#input-bricklet-uid {
    color: black;
}

.head-line {
    font-size: 1.3vw;
}

.font-size {
    font-size: 1.33vw;
    font-weight: bolder;
}

.hardware-button {
    font-size: 1.11vw;
    font-weight: bold;
}

.invalid-validation {
    color: $pink-color;
    font-size: 1.3vw;
}
