<div class="row">
    <div class="mb-3 pl-2 head-line">Please input your bricklet uids.</div>
    <form
        [formGroup]="brickletUidForm"
        (ngSubmit)="updateIds()">
        <div class="row font-size align-items-start">
            <div class="col-sm-6">
                <ng-container *ngFor="let bricklet of bricklets | async">
                    <div
                        *ngIf="bricklet.type !== 'Solid State Relay Bricklet'"
                        class="d-flex align-items-center mb-2">
                        <label class="me-3 p-0 col-auto flex-shrink-0">
                            {{ bricklet.type }} {{ bricklet.brickletNumber }}:
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            [formControlName]="bricklet.brickletNumber" />
                    </div>
                </ng-container>
            </div>
            <div class="col-sm-6 d-flex">
                <ng-container *ngFor="let bricklet of bricklets | async">
                    <div
                        *ngIf="bricklet.type === 'Solid State Relay Bricklet'"
                        class="d-flex align-items-center w-100">
                        <label class="me-3 flex-shrink-0">
                            {{ bricklet.type }}:
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            [formControlName]="bricklet.brickletNumber" />
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-auto mt-4 ml-4 mb-3 pl-2">
                <button
                    id="update-bricklet-uids-button"
                    class="hardware-button btn btn-regular"
                    [disabled]="brickletUidForm.invalid">
                    Update
                </button>
            </div>
            <div
                class="col-auto mt-4 ml-4 mb-3 pl-2 align-self-center"
                *ngIf="brickletUidForm.invalid">
                <span class="invalid-validation"
                    >IDs must be unique, up to 6 characters long, and contain
                    only letters and numbers.</span
                >
            </div>
        </div>
    </form>
</div>
