@import "src/styles";
* {
    color: white;
}

.form-headline {
    font-size: 1.3vw;
}

.form-content {
    font-size: 1.33vw;
    font-weight: bolder;
}

.hardware-button {
    font-size: 1.11vw;
    font-weight: bold;
}

.validation-error {
    color: $pink-color;
    font-size: 1.3vw;
}

input.form-control:focus {
    color: $white-color;
    background-color: $blue-dark-2;
    border-radius: 5px;
    border: none;
}

.bricklet-grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: 2.5rem;
    gap: 1.5rem 1.5rem;
    align-items: center;
    padding-left: 0.5rem;
    width: 100%;
}
