<div class="sidebar-right-wrapper bg-sidebar h-100 pl-4">
    <form
        [formGroup]="personalityFormSidebar"
        (change)="formChanged(personalityFormSidebar)">
        <div
            class="row"
            id="row-name">
            <label
                for="name-input"
                class="row m-1 mt-3"
                id="label-name"
                >Persona name</label
            >
            <input
                ngbAutofocus
                class="row input col-11 m-1 pl-2"
                type="text"
                formControlName="persona-name"
                [value]="personalityClone.name"
                id="name-input" />
        </div>
        <div class="row pl-1 mt-4">
            <label
                for="gander"
                id="label-name"
                >Voice gender</label
            >
            <div class="row pl-2">
                <div
                    class="col-4"
                    id="radio-button-female">
                    <input
                        value="Female"
                        formControlName="gender"
                        type="radio"
                        [(ngModel)]="personalityClone.gender"
                        id="radio-female" />
                    <label
                        class="pl-4 radioHover marginFemale"
                        for="radio-female"
                        id="label-radio-female"
                        >Female</label
                    >
                </div>
            </div>
            <div class="row pl-2">
                <div
                    class="col-4"
                    id="radio-button-male">
                    <input
                        value="Male"
                        formControlName="gender"
                        type="radio"
                        [(ngModel)]="personalityClone.gender"
                        id="radio-male" />
                    <label
                        class="pl-4 radioHover marginMale"
                        for="radio-male"
                        id="label-radio-male"
                        >Male</label
                    >
                </div>
            </div>
        </div>
        <div
            class="row m-1 pr-2 mt-4"
            id="row-name">
            <label
                for="pause-threshold-input"
                class="row"
                id="label-pause-threshold"
                >Pause threshold</label
            >
            <div class="row pl-0">
                <div class="col-11 pl-0">
                    <input
                        type="text"
                        class="input w-100 pl-2"
                        id="pause-threshold-input"
                        [(ngModel)]="thresholdString"
                        [ngModelOptions]="{standalone: true}"
                        readonly />
                </div>
                <div class="col-1 pt-2">
                    <div class="row mt-1">
                        <button
                            id="up"
                            type="button"
                            (click)="adjustThreshold('0.1')">
                            &#9650;
                        </button>
                    </div>
                    <div class="row">
                        <button
                            id="down"
                            type="button"
                            (click)="adjustThreshold('-0.1')">
                            &#9660;
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="row position-absolute bottom-0 start-50 translate-middle-x mb-4">
            <button
                id="delete-button"
                class="btn btn-regular delete p-3"
                (click)="deletePersonality()">
                <label class="mb-0"> Delete persona </label>
            </button>
        </div>
    </form>
</div>
