<div
    class="slider"
    [ngClass]="thumbSelected ? 'no-highlight' : ''"
    (mouseup)="onMouseUp($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
    (mousemove)="onMouseMove($event)"
    #slider>
    <div class="row">
        <!-- name -->
        <p
            class="pb-4"
            *ngIf="name">
            {{ name + ' ' }}<span>({{ unitLong }})</span>
        </p>
    </div>
    <div class="row m-0 p-0 bubble-row">
        <!-- left bubble span -->
        <span
            *ngIf="minBubblePosition <= currentMinBubblePosition"
            class="bubble-span-left"
            >{{ leftValue }}{{ unitShort }}</span
        >
        <!-- right bubble span -->
        <span
            *ngIf="currentMaxBubblePosition <= maxBubblePosition"
            class="bubble-span-right"
            >{{ rightValue }}{{ unitShort }}</span
        >
        <!-- bubble input -->
        <input
            *ngFor="let thumb of thumbs"
            #bubbleInput
            class="bubble-input overlay"
            [ngClass]="thumb.inputVisible ? '' : 'invisible'"
            [attr.style]="'left: ' + thumb.position + 'px;'"
            [formControl]="thumb.bubbleFormControl"
            (blur)="toggleInputInvisible(thumb)"
            (keydown.enter)="toggleInputInvisible(thumb)" />
        <!-- bubble overlay -->
        <div
            *ngFor="let thumb of thumbs"
            class="bubble-span overlay"
            [ngClass]="thumb.inputVisible ? 'invisible' : ''"
            [attr.style]="'left: ' + thumb.position + 'px;'"
            (dblclick)="toggleInputVisible(thumb)">
            {{ thumb.value }}{{ unitShort }}
        </div>
    </div>
    <div class="row pb-5 px-0 pt-0 m-0">
        <svg
            (mousedown)="onMouseDown($event)"
            [attr.style]="'height: ' + 2*thumbRadius + 'px;'">
            <!-- slider track background -->
            <rect
                [attr.x]="trackOuterOffset"
                [attr.y]="trackOuterOffset"
                [attr.width]="trackLength"
                [attr.height]="trackHeight"
                rx="4"
                fill="#344a69" />
            <!-- slider track foreground -->
            <rect
                [attr.x]="numberOfThumbs > 1 ? currentMinBubblePosition : trackOuterOffset"
                [attr.y]="trackOuterOffset"
                [attr.width]="currentMaxBubblePosition - (numberOfThumbs > 1 ? currentMinBubblePosition : trackOuterOffset)"
                [attr.height]="trackHeight"
                rx="5"
                fill="#e10072" />
            <!-- slider thumbs -->
            <circle
                *ngFor="let thumb of thumbs"
                [attr.cx]="thumb.position"
                [attr.cy]="thumbRadius"
                [attr.r]="thumbRadius"
                fill="#e10072" />
        </svg>
    </div>
</div>
