textarea {
    max-height: 100%;
    border-radius: 0px;
    background: transparent;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

textarea:focus {
    border-radius: 0px;
    background: linear-gradient(
        to right,
        #e10072,
        #e10072 var(--pos-relative),
        #324c71 var(--pos-relative),
        #324c71
    );
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #828282;
}

.content-window {
    height: 83.33%;
}
