<div class="row m-0 pl-3 pr-0 pt-0 pb-2 head-line">
    Select a touch point to adjust.
</div>
<div
    class="d-flex m-0 p-0"
    [ngClass]="joint.reversed ? 'flex-row-reverse' : 'flex-row'">
    <div class="flex-grow-1 m-0 p-0">
        <div
            class="row m-0 p-0 d-flex align-items-end pb-2"
            [ngClass]="joint.reversed ? 'flex-row-reverse' : 'flex-row'"
            [style]="'height: ' + ((joint.segmentOffset - joint.segmentHeight/2) * 100) + '%;'">
            <div class="col-3 sidebar-label m-0 p-0">Settings</div>
            <div class="col-3 sidebar-label m-0 p-0">Active</div>
            <div class="col-3 sidebar-label m-0 p-0">Current</div>
        </div>
        <div
            *ngFor="let motor of displayMotors"
            class="row m-0 p-0"
            [ngClass]="[joint.reversed ? 'flex-row-reverse' : 'flex-row', motor == selectedMotor || selectedMotor?.isMultiMotor ? 'background-selected' : '']"
            [style]="'height: ' + (joint.segmentHeight*100) + '%;'">
            <app-motor-settings
                [reversed]="joint.reversed"
                [motor]="motor"
                class="col-6 m-0 p-0"></app-motor-settings>
            <app-motor-current
                (click)="selectMotor(motor)"
                [id]="'touchpoint-' + motor.motorPathName"
                [reversed]="joint.reversed"
                [motor]="motor"
                class="col-6 cursor m-0 p-0"></app-motor-current>
        </div>
    </div>
    <div
        id="joint-canvas"
        class="m-0 p-0">
        <a
            *ngFor="let motor of joint.motors"
            (click)="selectMotor(motor)"
            [id]="'touchpoint-' + motor.motorPathName"
            [ngClass]="selectedMotor?.motorName == motor.motorName ? 'active-touchpoint' : ''"
            [style]="'left: ' + (motor.touchPointCenterX*100) + '%; top: ' + (motor.touchPointCenterY*100) + '%;'"
            class="touchpoint touchpoint-link m-0 p-0 pe-none cursor">
            <div class="touchpoint-wrapper">
                <div
                    class="m-0 p-0 pe-none touchpoint-background"
                    alt="backgorund for touchpoint"></div>
                <div
                    [id]="'touch-area-' + motor.motorPathName"
                    class="m-0 p-0 touch-area pe-auto"
                    alt="touch-area of touchpoint"></div>
            </div>
        </a>
        <img
            class="img-fluid joint-background m-0 p-0"
            [src]="'../../../assets' + joint.background"
            alt="cursor for joint" />
    </div>
</div>
<div class="row m-0 p-0">
    <router-outlet></router-outlet>
</div>
