* {
    color: #fff;
}

.sidebar-label {
    color: white;
    font-weight: bolder;
    text-align: center;
}

.touchpoint {
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10%;
    width: 8.86%;
}

.touchpoint-background {
    width: 100%;
    height: 100%;
    content: url("../../../assets/joint-control/touchpoint/touchpoint_unselected.svg");
}

.active-touchpoint .touchpoint-background {
    content: url("../../../assets/joint-control/touchpoint/touchpoint_selected.svg");
}

#joint-canvas {
    height: 45%;
    width: 45%;
    position: relative;
}

.touch-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    z-index: 0;
}

.touchpoint-link {
    z-index: 1;
}

.joint-background {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.touchpoint-wrapper {
    position: relative;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
