<ul class="nav nav-tabs">
  <li class="nav-item" routerLinkActive="navbar-btn-active">
    <a id="head-nav" class="nav-link sidebar-btn" [routerLink]="['/head']">
      Head
    </a>
  </li>
  <li class="nav-item" routerLinkActive="navbar-btn-active">
    <a
      id="left-hand-nav"
      class="nav-link sidebar-btn"
      [routerLink]="['/hand/left']"
    >
      Left Hand
    </a>
  </li>
  <li class="nav-item" routerLinkActive="navbar-btn-active">
    <a
      id="right-hand-nav"
      class="nav-link sidebar-btn"
      [routerLink]="['/hand/right']"
    >
      Right Hand
    </a>
  </li>
  <li class="nav-item" routerLinkActive="navbar-btn-active">
    <a
      id="left-arm-nav"
      class="nav-link sidebar-btn"
      [routerLink]="['/arm/left']"
    >
      Left Arm
    </a>
  </li>
  <li class="nav-item" routerLinkActive="navbar-btn-active">
    <a
      id="right-arm-nav"
      class="nav-link sidebar-btn"
      [routerLink]="['/arm/right']"
    >
      Right Arm
    </a>
  </li>
</ul>
