  ul li a {
    color: #0094df;
    padding: 1rem;
    font-family: Titillium, sans-serif;
    font-weight: bold;
    text-align: center;
  }

  .nav-tabs {
    border: none;
    border-bottom: 1px solid #0094df;
  }

  ul li {
    background-image: linear-gradient(to top, #1e304d, #000);
    width: 160px;
    margin-top: 20px;
    text-transform: uppercase;
    z-index: 1;
    font-size: 16px;
  }

  ul li:hover {
    margin-top: 17px;
  }

  ul li.navbar-btn-active {
    background-image: linear-gradient(to top, #000, #1e304d);
    width: 160px;
    border: none;
    border-left: 1px solid #0094df;
    border-top: 3px solid #e6007e;
    border-right: 1px solid #0094df;
    color: white;
    margin-bottom: -1px;
    margin-top: 17px;
  }

  ul li.navbar-btn-active a {
    color: white;
    z-index: 1;
  }

  .nav-tabs .nav-link:hover {
    background-image: linear-gradient(to top, #000, #1e304d);
    width: 160px;
    border: none;
    border-left: 1px solid #0094df;
    border-top: 3px solid #e6007e;
    border-right: 1px solid #0094df;
    color: white;

  }

  ul li.navbar-btn-active:hover {
    background-image: linear-gradient(to top, #000, #1e304d);
    width: 160px;
    border: none;
  }

  .nav-tabs .nav-link {
    border: none;
  }