<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<app-voice-assistant-nav></app-voice-assistant-nav>
<div class="container-fluid row p-0 pr-1 main">
    <div class="col-md-10 p-0">
        <div class="mainFrame mainContent mt-4 m-1 pink-corner-frame">
            <div class="col-md-12 d-flex">
                <div class="innerContentMain mt-1">
                    <label
                        class="personlityName ml-2"
                        style="font-size: large;"
                        >Personality Name</label
                    >
                </div>
                <div class="innerContentSide mr-3 pr-1">
                    <button
                        class="btn btn-primary exportButton"
                        id="exportButton">
                        Export chat
                    </button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mainFrame">
                    <div class="chat-container">
                        <div class="messages">
                            <div *ngFor="let message of messages">
                                <p
                                    class="message"
                                    id="user-message">
                                    {{message}}
                                </p>
                            </div>
                        </div>
                        <div class="chat-input">
                            <input
                                type="text"
                                id="message-input"
                                placeholder="Send a message"
                                [(ngModel)]="message"
                                (keyup.enter)="sendMessage()" />
                            <button id="chat-send-button">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="24px"
                                    viewBox="0 -960 960 960"
                                    width="24px"
                                    (click)="sendMessage()">
                                    <path [attr.d]="sendButton" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 pr-2 sidebar">
        <app-voice-assistant-sidebar-right
            class="sideContent"
            [headerElements]="headerElements"
            [bodyElements]="chatTopics"
            [elementIcon]="chatIcon">
        </app-voice-assistant-sidebar-right>
    </div>
</div>
