<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<app-voice-assistant-nav></app-voice-assistant-nav>
<div class="container-fluid">
    <div class="row allContent mt-4">
        <div class="col-10 pink-corner-frame main ">
            <div class="row mt-2">
                <div class="col-10">
                    <label class="personalityName mt-1">Personality Name</label>
                </div>
                <div class="col-2">
                    <button
                        id="exportButton"
                        class="btn-sm col btn-primary exportButton"
                        [class.exportButtonHovered]="exportButtonHovered">
                        Export chat
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="chat-container">
                        <div class="messages">
                            <div *ngFor="let message of messages">
                                <p
                                    class="message"
                                    id="user-message">
                                    {{message}}
                                </p>
                            </div>
                        </div>
                        <div class="chat-input">
                            <input
                                type="text"
                                id="message-input"
                                placeholder="Send a message"
                                [(ngModel)]="message"
                                (keyup.enter)="sendMessage()" />
                            <button id="chat-send-button">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="24px"
                                    viewBox="0 -960 960 960"
                                    width="24px"
                                    (click)="sendMessage()">
                                    <path [attr.d]="sendButton" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side col-2">
            <app-voice-assistant-sidebar-right
                [headerElements]="headerElements"
                [bodyElements]="chatTopics"
                [elementIcon]="chatIcon"
                [elementIconActive]="activeIcon">
            </app-voice-assistant-sidebar-right>
        </div>
    </div>
</div>
