label {
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.horizontalList {
  float: left;
  padding: 16px;
  border: 5;
}

ul {
  list-style-type: none;
}

.rotateRange {
  transform: rotate(-90deg);
}
.overlappingBr {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .overlappingBr {
    display: block;
  }
}

.centered {
  padding-left: 18px;
}

input[type=range] {
  margin: 20px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:hover {
  cursor: pointer;
}

.range-wrap{
  position: relative;
}
.range-value{
  position: absolute;
  top: -40%;
  left: 1%;
}

.range-value .bubble-span:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #e10072;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.range-wrap .range-value .bubble-input:before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #e10072;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


.range-wrap .range {
  --pos-relative:0;
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: lightgray;
  outline: none;
}

.range-wrap .range::-moz-range-thumb {
  width: 3px;
  height: 23px;
  background: #e10072;
  cursor: pointer;
}

.range-wrap .range::-moz-range-progress {
  height: 20px;
  background-color: #e10072;
}

.range-wrap .range::-ms-fill-lower {
  background-color: #e10072;
}

.range-wrap .range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 3px;
  height: 20px;
  background: #6b0337;
  cursor: pointer;
}

.range-wrap .range::-webkit-slider-runnable-track {
  background:linear-gradient(to right, #e10072, #e10072 var(--pos-relative), lightgray var(--pos-relative), lightgray);
}


.range-value .bubble-input{
  width: 40px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #e10072;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}

.range-value .bubble-span{
  width: fit-content;
  min-width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #e10072;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}

.range-wrap .bubble-span-min{
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  background: #344a69;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 2%;
  top: -25%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}

.range-wrap .bubble-span-max{
  width: 40px;
  height: 25px;
  line-height: 24px;
  text-align: center;
  background: #344a69;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  position: absolute;
  right: -5%;
  top: -25%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}


