label {display: block}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.horizontalList{
   float: left;
   padding: 16px;
   border: 5;
 }

 ul{
      list-style-type: none;
 }

 .rotateRange{
   transform: rotate(-90deg);
 }
.overlappingBr{
   display: none;
}
 @media only screen and (max-width: 1000px) {
   .overlappingBr{
       display: block;
   }
}

.centered{
   padding-left: 18px;
}