<label for="{{motorName}}" class="form-label"
  style="font-family: Open Sans, Arial, Helvetica, sans-serif;">{{labelName}}: {{sliderFormControl.value}}
</label>
<div>
  <input id="checkbox" (change)="turnTheMotorOnAndOff()" type="checkbox" [formControl]="motorFormControl">
  <label  style="display:inline"> Motor</label>
  <button id="dialogBtn" class="bi bi-gear btn btn-outline-primary" style="margin-left: 10px; border: 0;" (click)="openPopup(content)"></button>
  <input id="{{motorName}}" type="range" min={{minSliderValue}} max={{maxSliderValue}} class="form-range"
    (input)="sendMessage()" [formControl]="sliderFormControl" #{{motorName}}>
</div>



<ng-template #content let-modal id="ng-template">
  <div class="modal-header">Motor Settings
    <button   type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
      class="bi bi-x btn btn-outline-dark"></button>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <ul>
      <li class="horizontalList">Pulse Width min/max (μs):</li>
      <br class="overlappingBr">
      <li class="horizontalList"><input type="number" value="1" name="PluseMin" [formControl]="plureMinRange" (input)="sendSettingMessage()"></li>
      <br class="overlappingBr">
      <li class="horizontalList"><input type="number" value="65535" name="PluseMax" [formControl]="plureMaxRange" (input)="sendSettingMessage()"></li>
    </ul>
  </div>


  <div class="h-100 d-flex align-items-center justify-content-center">
    <ul>
      <li class="horizontalList">Degree min/max (°/100):</li>
      <br class="overlappingBr">
      <li class="horizontalList"><input type="number" value="0" name="DegreeMin" (input)="sendSettingMessage()" [formControl]="degreeMin" ></li>
      <br class="overlappingBr">
      <li class="horizontalList"><input type="number" value="0" name="DegreeMax" (input)="sendSettingMessage()" [formControl]="degreeMax"></li>
    </ul>
  </div>
  <div class="h-100 d-flex align-items-center justify-content-center">
    <ul>
      <li class="horizontalList">
        <ul>
          <li class="centered">
            Velocity (°/100s)
          </li>
          <br><br><br><br>
          <li>
            <input type="range" min="0" max="500000" step="1" class="form-range rotateRange"
              [value]="velocityFormControl.value" [formControl]="velocityFormControl" (input)="sendSettingMessage()">
          </li>
          <br><br><br><br>
          <li>
            <input type="number" min="0" max="500000" [value]="velocityFormControl.value" name="Velocity"
              [formControl]="velocityFormControl" (input)="sendSettingMessage()">
          </li>
        </ul>
      </li>
      <br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr">
      <li class="horizontalList">
        <ul>
          <li class="centered">
            Acceleration
          </li>
          <br><br><br><br>
          <li>
            <input type="range" min="0" max="500000" step="1" class="form-range rotateRange"
              [value]="accelerationFormControl.value" [formControl]="accelerationFormControl" (input)="sendSettingMessage()">
          </li>
          <br><br><br><br>
          <li>
            <input type="number" min="0" max="500000" [value]="accelerationFormControl.value" name="Acceleration"
              [formControl]="accelerationFormControl" (input)="sendSettingMessage()">
          </li>
        </ul>
      </li>
      <br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr">

      <li class="horizontalList">
        <ul>
          <li class="centered">
            Deceleration
          </li>
          <br><br><br><br>
          <li>
            <input type="range" min="0" max="500000" step="1" class="form-range rotateRange"
              [value]="decelerationFormControl.value" [formControl]="decelerationFormControl" (input)="sendSettingMessage()">
          </li>
          <br><br><br><br>
          <li>
            <input type="number" min="0" max="500000" [value]="decelerationFormControl.value" name="Deceleration"
              [formControl]="decelerationFormControl" (input)="sendSettingMessage()">
          </li>
        </ul>
      </li>
      <br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr"><br
        class="overlappingBr"><br class="overlappingBr"><br class="overlappingBr">
      <li class="horizontalList">
        <ul>
          <li class="centered">
            Period (μs)
          </li>
          <br><br><br><br>
          <li>
            <input type="range" min="0" max="65535" step="1" class="form-range rotateRange"
              [value]="periodFormControl.value" [formControl]="periodFormControl" (input)="sendSettingMessage()">
          </li>
          <br><br><br><br>
          <li>
            <input type="number" min="1" max="65535" [value]="periodFormControl.value" name="Period" [formControl]="periodFormControl" (input)="sendSettingMessage()">
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Close</button>
  </div>
</ng-template>
