<ul class="nav nav-tabs">
    <li
        class="nav-item"
        routerLinkActive="navbar-btn-active"
        [routerLink]="['/personality']">
        <a class="nav-link sidebar-btn"> Personality </a>
    </li>
    <li
        class="nav-item"
        routerLinkActive="navbar-btn-active"
        [routerLink]="['/chat']">
        <a class="nav-link sidebar-btn"> Chat </a>
    </li>

    <li
        class="form-check form-switch col-sm-12"
        align="right">
        <input
            class="form-check-input"
            type="checkbox"
            id="checkbox" />
        <label for="">Activate voice assistant</label>
    </li>
</ul>
