<div class="container-fluid">
    <div class="mainFrame nav nav-tabs">
        <button
            class="nav-item voice-tabs"
            id="personalityTab"
            routerLinkActive="navbar-btn-active"
            [routerLink]="['/personality']">
            <a class="nav-link sidebar-btn"> Personality </a>
        </button>
        <button
            class="nav-item voice-tabs"
            id="chatTab"
            routerLinkActive="navbar-btn-active"
            [routerLink]="['/chat']">
            <a class="nav-link sidebar-btn"> Chat </a>
        </button>
    </div>
    <div class="sideContent nav nav-tabs">
        <div class="custom-switch custom-switch-pib mt-3">
            <input
                id="voiceAssistantActivationToggle"
                class="custom-control-input"
                type="checkbox"
                [formControl]="voiceAssistantActivationToggle"
                (input)="toggleVoiceAssistantActivation()" />
            <label
                class="custom-control-label"
                for="voiceAssistantActivationToggle">
                Assistant {{voiceAssistantStatus}}</label
            >
        </div>
    </div>
</div>
