<div
    class="slider"
    (mouseup)="onMouseUp($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
    (mousemove)="onMouseMove($event)"
    #slider>
    <div class="row">
        <!-- title -->
        <p
            class="pb-5"
            *ngIf="name">
            {{ name + ' ' }}<span *ngIf="unitLong || unitShort"
                >({{ unitLong ? unitLong : unitShort}})</span
            >
        </p>
    </div>
    <div class="row bubble-row">
        <!-- min bubble span -->
        <span
            *ngIf="minBubblePosition <= trackForegroundLeft"
            class="bubble-span-min"
            >{{ minValue }}{{ unitShort }}</span
        >
        <!-- max bubble span -->
        <span
            *ngIf="trackForegroundRight <= maxBubblePosition"
            class="bubble-span-max"
            >{{ maxValue }}{{ unitShort }}</span
        >
        <!-- bubble input -->
        <input
            *ngFor="let thumb of thumbs"
            class="bubble-input overlay"
            [ngClass]="thumb.inputVisible ? '' : 'invisible'"
            [attr.style]="'left: ' + thumb.position + 'px;'"
            [formControl]="thumb.bubbleFormControl"
            (blur)="toggleInputInvisible(thumb)"
            (keydown.enter)="toggleInputInvisible(thumb)" />
        <!-- bubble overlay -->
        <div
            *ngFor="let thumb of thumbs"
            #bubble
            class="bubble-span overlay"
            [ngClass]="thumb.inputVisible ? 'invisible' : ''"
            [attr.style]="'left: ' + thumb.position + 'px;'"
            (dblclick)="toggleInputVisible(thumb)">
            {{ thumb.value }}{{ unitShort }}
        </div>
    </div>
    <div class="row pb-5">
        <svg
            (mousedown)="onMouseDown($event)"
            [attr.style]="'height: ' + 2*thumbRadius + 'px;'">
            <!-- slider track background -->
            <rect
                [attr.x]="thumbRadius"
                [attr.y]="thumbRadius - (trackWidth / 2)"
                [attr.width]="sliderWidth - (2*thumbRadius)"
                [attr.height]="trackWidth"
                rx="4"
                fill="#344a69" />
            <!-- slider track foreground -->
            <rect
                [attr.x]="trackForegroundLeft"
                [attr.y]="thumbRadius - (trackWidth / 2)"
                [attr.width]="trackForegroundRight - trackForegroundLeft"
                [attr.height]="trackWidth"
                rx="4"
                fill="#e10072" />
            <!-- slider thumbs -->
            <circle
                *ngFor="let thumb of thumbs"
                [attr.cx]="thumb.position"
                [attr.cy]="thumbRadius"
                [attr.r]="thumbRadius"
                fill="#e10072" />
        </svg>
    </div>
</div>
