<p
    class="mb-5"
    *ngIf="name">
    {{ name + ' ' }}<span *ngIf="unitLong || unitShort"
        >({{ unitLong ? unitLong : unitShort}})</span
    >
</p>
<div class="range-wrap">
    <div
        class="range-value"
        #bubbleLower>
        <input
            class="bubble-input overlay"
            [ngClass]="isInputVisibleLower ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControlLower"
            (blur)="toggleInputInvisible(bubbleFormControlLower, sliderFormControlLower, true)"
            (keydown.enter)="toggleInputInvisible(bubbleFormControlLower, sliderFormControlLower, true)"
            #bubbleInputLower />
        <div
            class="bubble-span overlay"
            [ngClass]="isInputVisibleLower ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInputLower, sliderFormControlLower, bubbleFormControlLower, true)">
            {{ sliderFormControlLower.value }}{{ unitShort }}
        </div>
    </div>
    <div
        class="range-value"
        #bubbleUpper>
        <input
            class="bubble-input overlay"
            [ngClass]="isInputVisibleUpper ? '' : 'invisible'"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="bubbleFormControlUpper"
            (blur)="toggleInputInvisible(bubbleFormControlUpper, sliderFormControlUpper, false)"
            (keydown.enter)="toggleInputInvisible(bubbleFormControlUpper, sliderFormControlUpper, false)"
            #bubbleInputUpper />
        <div
            class="bubble-span overlay"
            [ngClass]="isInputVisibleUpper ? 'invisible' : ''"
            (dblclick)="toggleInputVisible(bubbleInputUpper, sliderFormControlUpper, bubbleFormControlUpper, false)">
            {{ sliderFormControlUpper.value }}{{ unitShort }}
        </div>
    </div>
    <span
        *ngIf="minBubblePosition <= bubblePositionLower && minBubblePosition <= bubblePositionUpper"
        class="bubble-span-min"
        >{{ minValue }}{{ unitShort }}</span
    >
    <span
        *ngIf="maxBubblePosition >= bubblePositionLower && maxBubblePosition >= bubblePositionUpper"
        class="bubble-span-max"
        >{{ maxValue }}{{ unitShort }}</span
    >
    <div
        class="wrap"
        (mousedown)="onMouseDown($event)"
        (mouseleave)="onMouseLeave($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp($event)"
        (mouseenter)="onMouseEnter($event)"
        #slider>
        <input
            class="range bottom-layer"
            type="range"
            [min]="minValue"
            [max]="maxValue"
            [step]="step"
            [formControl]="sliderFormControlLower"
            (input)="setThumbPosition(); sendEvent();"
            #rangeLower />
        <input
            class="range top-layer"
            type="range"
            [min]="minValue"
            [max]="maxValue"
            [formControl]="sliderFormControlUpper"
            (input)="setThumbPosition(); sendEvent();"
            [step]="step"
            #rangeUpper />
    </div>
</div>
