@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium_Web/TitilliumWeb-Bold.ttf');
  font-weight: bold;

}

@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium_Web/TitilliumWeb-Regular.ttf');
  font-weight: normal;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
}

.btn {
  border: 1px solid white;
  color: white;
  font-family: Titillium;
}

.btn:hover {
  border: 1px solid #e6007e;
  color: #e6007e;
}
.myCustomModalClass {
  z-index: 1050 !important;
}

.myCustomBackdropClass {
  z-index: 1040 !important;
}