@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium_Web/TitilliumWeb-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('/assets/Titillium_Web/TitilliumWeb-Bold.ttf');
  font-weight: bold;

}

.btn {
  border: 1px solid white;
  color: white;
  font-family: Titillium;
}

.btn:hover {
  border: 1px solid white;
  background-color: #009fe3;
  color: white;
}

.custom-switch.custom-switch-pib  .custom-control-label::before {
  background-color: transparent;
  border-color: white;
}

.custom-switch.custom-switch-pib .custom-control-input:checked~.custom-control-label::after {
  background-color: #e6007e;
}

.custom-switch.custom-switch-pib .custom-control-input~.custom-control-label::after {
  background-color: gray;
}

.custom-control-label {
  color:white;
  font-family: 'Titillium';
  font-weight: normal !important;
  font-size: 16px;
}

.custom-switch {
  display: inline-block;
}