<h2>{{componentName}} hand</h2>
<form [formGroup]="sliders">
    <label for="little" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Wirst
        <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value:
            {{sliders.controls['wirst'].value}}
        </p>
    </label>
    <input type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" class="form-range"
    (input)="this.sliderTrigger$.next('wirst')" formControlName="wirst">

    <label for="little" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">
        Elbow
        <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value:
            {{sliders.controls['elbow'].value}}
        </p>
    </label>
    <input type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" class="form-range"
        (input)="this.sliderTrigger$.next('elbow')" formControlName="elbow">
    <label for="little" class="form-label" style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Shoulder
        <p style="font-family: Open Sans, Arial, Helvetica, sans-serif;">Current value:
            {{sliders.controls['shoulder'].value}}
        </p>
    </label>
    <input id="little" type="range" min="{{MIN_RANGE}}" max="{{MAX_RANGE}}" class="form-range"
        (input)="this.sliderTrigger$.next('shoulder')" formControlName="shoulder">
</form>

<p>{{message}}</p>