p {
    font-weight: normal;
}
.smart-connect-btn {
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(
        50deg,
        hsl(198deg 100% 44%) 1%,
        hsl(206deg 74% 52%) 30%,
        hsl(215deg 65% 56%) 37%,
        hsl(228deg 54% 58%) 42%,
        hsl(249deg 43% 57%) 47%,
        hsl(271deg 38% 50%) 52%,
        hsl(292deg 46% 41%) 56%,
        hsl(310deg 69% 35%) 60%,
        hsl(314deg 74% 36%) 64%,
        hsl(317deg 78% 38%) 68%,
        hsl(319deg 83% 39%) 70%,
        hsl(321deg 88% 41%) 73%,
        hsl(323deg 94% 42%) 78%,
        hsl(325deg 98% 43%) 85%,
        hsl(327deg 100% 45%) 100%
    );
    border: none;
    padding-right: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 0.3em;
}

.modal-title {
    text-transform: uppercase;
}

.input {
    color: white;
    background-color: #344a69 !important;
    border: none;
}

.button-link {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    cursor: pointer;
    background: transparent;
    color: #007bff;

    -webkit-appearance: none;
}

.button-link:hover {
    color: #0056b3;
}

.disabled {
    color: #a7afba;
}

.decrypted-frame {
    position: relative;
    border-radius: 16px;
    padding: 0.255em;
}

.decrypted-frame::before {
    content: "";
    position: absolute;
    inset: -1.5px;
    border-radius: 17px;
    padding: 1.5px;
    background: linear-gradient(
        50deg,
        hsl(162deg 100% 36%) 1%,
        hsl(160deg 100% 37%) 30%,
        hsl(158deg 100% 38%) 37%,
        hsl(156deg 100% 39%) 42%,
        hsl(154deg 100% 40%) 47%,
        hsl(152deg 100% 41%) 52%,
        hsl(150deg 99% 42%) 56%,
        hsl(148deg 96% 43%) 60%,
        hsl(146deg 93% 44%) 64%,
        hsl(144deg 90% 45%) 68%,
        hsl(142deg 87% 43%) 70%,
        hsl(140deg 84% 41%) 73%,
        hsl(138deg 81% 39%) 78%,
        hsl(136deg 78% 37%) 85%,
        hsl(134deg 75% 35%) 100%
    );
    z-index: -1;
}
