p {
    font-weight: normal;
}
.smart-connect-btn {
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(
        50deg,
        hsl(198deg 100% 44%) 1%,
        hsl(206deg 74% 52%) 30%,
        hsl(215deg 65% 56%) 37%,
        hsl(228deg 54% 58%) 42%,
        hsl(249deg 43% 57%) 47%,
        hsl(271deg 38% 50%) 52%,
        hsl(292deg 46% 41%) 56%,
        hsl(310deg 69% 35%) 60%,
        hsl(314deg 74% 36%) 64%,
        hsl(317deg 78% 38%) 68%,
        hsl(319deg 83% 39%) 70%,
        hsl(321deg 88% 41%) 73%,
        hsl(323deg 94% 42%) 78%,
        hsl(325deg 98% 43%) 85%,
        hsl(327deg 100% 45%) 100%
    );
    border: none;
    padding-right: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 0.3em;
}

.modal-title {
    text-transform: uppercase;
}

.input {
    color: white;
    background-color: #344a69 !important;
    border: none;
    /*width: 100%;*/
}

.button-link {
    display: inline;
    padding: 0;
    border: 0;
    font: inherit;
    cursor: pointer;
    background: transparent;
    color: #007bff;

    -webkit-appearance: none;
}

.button-link:hover {
    color: #0056b3;
}

.disabled {
    color: #a7afba;
}
