* {
    color: white;
}

.pose-item {
    border: none;
    height: 40px;
    line-height: 40px;
}

.apply-button {
    width: 80px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid;
    background-color: #041939;
    display: flex;
}

.apply-button:hover {
    cursor: pointer;
}

.apply-pose {
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
}

.icon {
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
}

button:disabled img {
    opacity: 0.5;
}

.delete-button,
.rename-button {
    border: none;
    background-color: black;
    width: 40px;
    height: 40px;
}
.delete-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pose-label {
    user-select: none;
}

.selected .apply-button {
    border-color: #e10072;
}

.unselected .apply-button {
    border-color: #344864;
}

.selected :is(.pose-label, .delete-button, .rename-button) {
    background-color: #e10072;
}

.unselected :is(.pose-label, .delete-button, .rename-button) {
    background-color: #344864;
}
